.bank-offer {
    background-color: var(--white);
    box-shadow: var(--shadow-primary);
    border-radius: 12px;
    padding: 24px;

    &__top {
        display: flex;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 24px;
        }
    }

    &__logo {
        width: 125px;
        img{
            height: 25px;
            max-height: 100%;
            max-width: 110px;
            object-fit: contain;
            width: 100%;
        }
    }

    &__info {
        display: grid;
        grid-template-columns: 115px 55px 135px max-content;
        grid-column-gap: 24px;
    }
    &__item{
        &._discount{
            >span{
                &:nth-child(1){
                    color: var(--blue);
                    font-weight: 500;
                }
                &:nth-child(2){
                    text-decoration: line-through;
                    margin-left: 4px;
                    color: var(--primaryTwo);
                    font-size: var(--small-fz);
                    line-height: var(--small-lh);
                }
            }
        }
        &:not(._discount){
            font-weight: 500;
        }
    }

    &__spoller {

        &._active {
            .bank-offer__spoller-check {
                svg {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    &__spoller-btn {
        display: flex;
        align-items: center;
    }

    &__spoller-check {
        margin-left: 8px;
        width: 20px;
        height: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
        width: 100%;
        height: 100%;
            fill: var(--blue);
            transition: transform $transitionSpeedFast $transitionFunction;
        }
    }

    &__spoller-content {
       padding-top: 24px;
    }


    &__btn {
        width: 115px;
        margin-left: auto;
        &._active {
            background-color: var(--blue);
            color: var(--white);

            @media (min-width:$desktop-min) {
                &:hover {
                    background-color: var(--blue-dark);
                }
            }
        }

        &._disabled {
            opacity: 0.6;
            cursor: default;
        }
    }


    &__additional-item {
        display: flex;
        align-items: start;
        justify-content: space-between;
        border-bottom: 1px dotted var(--primary200);
        margin-bottom: 24px;
        padding-bottom: 24px;
        .col {
            margin-left: 24px;
            display: flex;
            align-items: center;

            >span {
                margin-right: 24px;
                transition: color $transitionSpeed $transitionFunction,
                    opacity $transitionSpeed $transitionFunction;
                opacity: 0.65;

                font-weight: 500;
                font-size: var(--small-fz);
                line-height: var(--small-lh);

                &._active {
                    opacity: 1;
                    color: var(--blue);
                }
            }
        }
    }

    &__more-btn{
        margin-top: 8px;


        display: flex;
        align-items: center;
        color: var(--blue);
        font-size: var(--small-fz);
        line-height: 1;


        svg {
            margin-left: 5px;
            width: 20px;
            height: 20px;
            fill: currentColor;
            transition: transform $transitionSpeedFast $transitionFunction;
        }

        &._active {
            svg {
                transform: rotate(-180deg);
            }
        }
    }

    &__close {
        margin-top: 16px;

        display: flex;
        align-items: center;

        svg {
            margin-left: 8px;
             width: 20px;
            height: 20px;
            fill: currentColor;
            transform: rotate(-180deg);
        }

    }
}





.bank-offer-bid-tooltip {
    bottom: auto;
    top: calc(100% + 2px);
    left: -50px;

    padding: 24px;
    z-index: 2;
    min-width: 275px !important;

    &__title {
        color: var(--white);
    }

    &__main {
        margin-top: 16px;

    }

    &__info {
        margin-top: 16px;
    }

    .row {
        display: flex;
        justify-content: space-between;

        span {
            &:nth-child(2) {
                white-space: nowrap;
            }
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}


.bank-offer-selector-list {

    &__items {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 16px;
    }

    &__item {
        display: flex;
        align-items: center;


        &:nth-child(1) {
            margin-bottom: 4px;
            opacity: 0.65;
            padding: 0 24px;
            gap: 24px;

            >div,
            span {
                width: 140px;
                font-size: var(--small-fz);
                line-height: var(--small-lh);
            }
        }

        &:not(:first-child) {
            font-weight: 500;
            border-radius: 12px;
        }
    }



    &__btn {
        height: auto;
        padding: 0 24px;
        display: flex;
        align-items: center;

        height: 42px;
        width: 100%;
        border-radius: 12px;
        background-color: var(--white);
        border: 1px solid var(--primary200);
        position: relative;

        gap: 24px;

        font-size: var(--default-fz);
        line-height: var(--default-lh);


        transition: background-color $transitionSpeed $transitionFunction,
            color $transitionSpeed $transitionFunction,
            border $transitionSpeed $transitionFunction;

        >div,
        span {
            width: 140px;
            text-align: left;
        }

        span {
            font-size: var(--default-fz);
            line-height: var(--default-lh);
            font-weight: 400;
        }

        div {
            position: absolute;
            top: -4px;
            right: -4px;
            --size: 20px;
            width: var(--size);
            height: var(--size);
            flex: 0 0 var(--size);
            border-radius: 50%;
            background-color: var(--white);

            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: var(--shadow-primary);

            opacity: 0;
            visibility: hidden;
            transform: translateY(2px);


            transition: opacity $transitionSpeed $transitionFunction,
                visibility $transitionSpeed $transitionFunction,
                transform $transitionSpeed $transitionFunction;

            svg {
                width: 10px;
                height: 10px;
                stroke: var(--blue);
                stroke-width: 1.5px;
                fill: none;
            }
        }

        @media (min-width:$desktop-min) {
            &:hover {
                border: 1px solid var(--blue);
                background-color: var(--blue);
                color: var(--white);

                div {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }

        &._active {
            border: 1px solid var(--blue);
            background-color: var(--blue);
            color: var(--white);

            div {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
}

.bank-offer-disabled {
    background-color: rgba(#242629, 0.12);
    box-shadow: var(--shadow-primary);
    border-radius: 12px;
    padding: 24px;
    color: var(--dark);

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__name {

        display: flex;
        align-items: center;
        opacity: 0.6;

        >span {
            margin-left: 16px;
        }
    }

    &__icon {
        background-color: var(--white);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
    }

    &__descr {
        max-width: 66%;
        opacity: 0.6;
    }
}