.back-link {
    display: inline-flex;
    align-items: center;
    color: var(--blue);
    transition: color $transitionSpeed $transitionFunction;

    svg {
        width: 20px;
        height: 17px;
        fill: currentColor;
        margin-right: 8px;
    }

    span {
        color: inherit;
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        font-weight: 400;
    }

    @media (min-width:$desktop-min) {
        &:hover {
            color: var(--primary500);
        }
    }
}

.share-btn {
    display: inline-flex;
    align-items: center;
    color: var(--blue);
    transition: color $transitionSpeed $transitionFunction;
    padding: 5px 12px;

    svg {
        margin-right: 10px;
        width: 14px;
        height: 14px;
        fill: currentColor;

        @media (max-width:$desktop) {
            width: 12px;
            height: 12px;
        }
    }

    span {
        color: inherit;
        font-size: var(--default-fz);
        line-height: var(--little-small-lh);
        font-weight: 400;
    }

    @media (min-width:$desktop-min) {
        &:hover {
            color: var(--primary500);
        }
    }

    @media (max-width:$desktop) {
        padding: 0;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: 0;
            width: 18px;
            height: 18px;
        }

        span {
            display: none;
        }
    }
}

.advance-pay {
    display: flex;
    align-items: center;
    width: 100%;

    svg {
        margin-right: 10px;
        width: 18px;
        height: 18px;
        fill: currentColor;

        @media (max-width:$desktop) {
            width: 12px;
            height: 12px;
        }
    }

    .secondary-tooltip {
        margin-left: 4px;
        width: 17px;
        height: 17px;

        &__btn {
            width: 17px;
            height: 17px;

            svg {
                margin-right: 0;
                width: 17px;
                height: 17px;
                fill: none !important;
            }
        }
    }

    .secondary-tooltip__content {
        width: max-content;
        max-width: 300px;
        white-space: normal;
        top: calc(100% + 12px);
        right: -40px;
        left: auto;
        bottom: auto;
        z-index: 99;
    }

    &._active {
        // color: var(--green);
    }
}

.complain-btn {
    display: inline-flex;
    align-items: center;
    color: var(--red);
    transition: color $transitionSpeed $transitionFunction;
    padding: 5px 12px;

    svg {
        margin-right: 10px;
        width: 18px;
        height: 18px;
        fill: currentColor;

        @media (max-width:$desktop) {
            width: 12px;
            height: 12px;
        }
    }

    span {
        color: inherit;
        font-size: var(--default-fz);
        line-height: var(--little-small-lh);
        font-weight: 400;
    }

    @media (min-width:$desktop-min) {
        &:hover {
            color: var(--red-dark);
        }
    }

    @media (max-width:$desktop) {
        padding: 0;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: 0;
            width: 18px;
            height: 18px;
        }

        span {
            display: none;
        }
    }
}

.favorite-btn {
    display: inline-flex;
    align-items: center;
    transition: color $transitionSpeed $transitionFunction;
    padding: 5px 12px;
    color: var(--blue);

    svg {
        margin-right: 10px;
        width: 14px;
        height: 14px;
        fill: var(--blue);
        stroke: none;
    }

    span {
        color: inherit;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        font-weight: 400;
    }

    @media (min-width:$desktop-min) {
        &:hover {
            .secondary-tooltip__btn {
                color: var(--primary500);
            }
        }
    }

    @media (max-width:$desktop) {
        padding: 0;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: 0;
            width: 18px;
            height: 18px;
        }

        span {
            display: none;
        }
    }

    &._active {
        svg {
            fill: var(--blue);
        }
    }
}

.delete-btn {
    display: inline-flex;
    align-items: center;
    color: var(--red);
    transition: color $transitionSpeed $transitionFunction;
    padding: 5px 12px;

    svg {
        margin-right: 10px;
        width: 18px;
        height: 18px;
        fill: currentColor;
    }

    span {
        color: inherit;
        font-size: var(--default-fz);
        line-height: var(--little-small-lh);
        font-weight: 400;
    }

    @media (min-width:$desktop-min) {
        &:hover {
            color: var(--red-dark);
        }
    }

    @media (max-width:$desktop) {
        padding: 0;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: 0;
            width: 20px;
            height: 20px;
        }

        span {
            display: none;
        }
    }
}

.edit-btn {
    display: inline-flex;
    align-items: center;
    color: var(--blue);
    transition: color $transitionSpeed $transitionFunction;
    padding: 5px 12px;

    svg {
        margin-right: 10px;
        width: 18px;
        height: 18px;

        stroke: currentColor;
        stroke-width: 1.5px;
        fill: none;
    }

    span {
        color: inherit;
        font-size: var(--default-fz);
        line-height: var(--little-small-lh);
        font-weight: 400;
    }

    @media (min-width:$desktop-min) {
        &:hover {
            color: var(--blue-dark);
        }
    }

    @media (max-width:$desktop) {
        padding: 0;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: 0;
            width: 20px;
            height: 20px;
        }

        span {
            display: none;
        }
    }
}

.avatar {
    border-radius: 50%;

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    &.online {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: var(--green);
            border: 2px solid var(--white);
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;

            @media (max-width:$smallTablet-max) {
                width: 10px;
                height: 10px;
            }
        }
    }
}

.message-item {
    display: flex;
    flex-direction: column;
    align-items: start;

    &__user {
        display: grid;
        grid-template-columns: 30px 1fr;
        align-items: center;
        grid-column-gap: 8px;
        grid-row-gap: 4px;
        margin-bottom: 8px;
    }

    &__avatar {
        grid-column-gap: 8px;

        grid-column: 1/2;
        grid-row: 1/3;
    }

    &__time {
        margin: 16px 0;
        text-align: center;
        color: var(--primaryTwo);
        display: block;
        width: 100%;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
    }

    &__pos {
        font-size: var(--very-small-fz);
        line-height: 1;
        color: var(--primaryTwo);
        align-self: start;
    }

    &__name {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: start;

        color: var(--dark);
        align-self: end;
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        font-weight: 400;
    }

    &__text {
        margin-top: 8px;
        background: var(--primary100);
        border-radius: 2px 12px 12px 12px;

        color: var(--dark);
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        font-weight: 400;

        padding: 16px;
        display: inline-block;
        padding: 8px 48px 8px 16px;
        max-width: 420px;
        display: inline-block;
        position: relative;

        span {
            position: absolute;
            bottom: 5px;
            right: 8px;
            font-size: var(--very-small-fz);
            line-height: 1;
            color: var(--primaryTwo);
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

.dots-dropdown {
    position: relative;

    &__target {
        padding: 5px 6px;
        border-radius: 6px;

        svg {
            display: block;
            width: 12px;
            height: 13px;
            fill: var(--gray);
            transition: fill $transitionSpeed $transitionFunction;
        }

        &._z-index-0 {
            z-index: 0 !important;
        }
    }

    &__dropdown {
        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;

        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);

        position: absolute;
        z-index: 6;
        top: 100%;
        right: -24px;

        width: auto;
        padding: 12px 0;

        background-color: var(--white);
        border: 1px solid rgba(122, 127, 170, 0.1);
        box-shadow: var(--shadow-primary);
        border-radius: 12px;
        display: flex;
        align-items: start;
        flex-direction: column;

        button {
            width: max-content;
            display: flex;
            align-items: center;

            padding: 12px 16px;
            color: var(--dark);
            font-size: var(--default-fz);
            line-height: var(--default-lh);
            font-weight: 400;

            svg {
                margin-right: 10px;
                width: 18px;
                height: 18px;
                fill: var(--blue);
            }

            @media (min-width:$desktop-min) {
                &:hover {
                    background-color: var(--primary100);
                }

            }

            @media (max-width:$smallTablet-max) {
                padding: 10px 12px;

                svg {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        @media (max-width:$smallTablet-max) {
            padding: 8px 0;
        }
    }

    &._active {
        .dots-dropdown {
            &__target {
                background-color: var(--primary200);

                svg {
                    fill: var(--blue-dark);
                }
            }

            &__dropdown {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
            }
        }
    }

    @media (min-width:$desktop-min) {
        &._hover {
            &:hover {
                .dots-dropdown {
                    &__target {
                        background-color: var(--primary200);

                        svg {
                            fill: var(--blue-dark);
                        }
                    }

                    &__dropdown {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0px);
                    }
                }
            }
        }
    }
}


.bubble-speech {
    padding: 17px 24px;
    background-color: var(--white);
    box-shadow: var(--shadow-primary);
    border-radius: 12px;
    font-size: var(--default-fz);
    line-height: var(--default-lh);
    font-weight: 400;
    color: var(--dark);

    position: relative;

    &::before {
        content: '';
        background-image: url('../img/polygon-1.svg');
        background-repeat: no-repeat;
        background-size: 11px 13px;
        height: 13px;
        width: 11px;
        display: block;
        position: absolute;
    }

    &--left-top {
        &::before {
            top: 16px;
            left: 1px;
            transform: translateX(-100%);
        }
    }

    @media (max-width:$smallTablet-max) {
        padding: 16px;
    }
}

.purchase-terms {
    &__title {
        margin-bottom: 24px;

        @media (max-width:$smallTablet-max) {
            margin-bottom: 16px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;

        @media (max-width:$desktop) {
            grid-column-gap: 24px;
        }

        @media (max-width:$smallTablet-max) {
            grid-template-columns: 1fr;
            grid-row-gap: 12px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        width: 100%;

        text-align: left;

        svg:first-child {
            margin-right: 16px;
            --size: 24px;
            flex: 0 0 var(--size);
            width: var(--size);
            height: var(--size);
            fill: var(--gray);
        }

        span {
            font-size: var(--default-fz);
            line-height: var(--default-lh);

            &:nth-child(2) {
                color: var(--gray);
                font-weight: 500;
            }

            &:nth-child(3) {
                margin-left: 8px;
                color: var(--dark);
                font-weight: 400;
            }
        }

        svg:not(:first-child) {
            margin-left: 10px;
            --size: 17px;
            flex: 0 0 var(--size);
            width: var(--size);
            height: var(--size);
            fill: var(--blue);
        }
    }
}

.communic-method-radios {

    &__wrapper {}

    .radio-primary {
        &__item {
            &:not(:last-child) {
                margin-bottom: 16px;
                @media (max-width:$desktop){
                     margin-bottom: 12px; 
                }
            }
        }

        &__text {
            color: var(--gray);
            font-size: var(--default-fz);
            line-height: var(--default-lh);
            font-weight: 400;
        }
    }
}


.your-contacts-field {

    &__title {
        margin-bottom: 24px;
    }

    &__wrapper {
        display: flex;

        .input-text {
            width: 350px;

            &:not(:last-child) {
                margin-right: 8px;

                @media (max-width:$smallTablet-max) {
                    margin-right: 0;
                    margin-bottom: 16px;
                }
            }

            @media (max-width:$smallTablet-max) {
                width: 100%;
            }
        }

        @media (max-width:$smallTablet-max) {
            flex-direction: column;
        }
    }
}

.contact-card {
    background-color: var(--primary100);
    padding: 24px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: start;

    &__city {
        font-weight: 500;
        margin-bottom: 4px;
    }

    &__name {
        margin-bottom: 2px;
    }

    &__phone {
        margin-bottom: 2px;

        @media (min-width:$desktop-min) {
            transition: color $transitionSpeed $transitionFunction;

            &:hover {
                color: var(--blue);
            }
        }
    }

    &__email {
        @media (min-width:$desktop-min) {
            transition: color $transitionSpeed $transitionFunction;

            &:hover {
                color: var(--blue);
            }
        }
    }
}

.file-card {
    background-color: var(--primary100);
    border-radius: 16px;
    padding: 12px 16px;

    display: flex;
    align-items: center;
    overflow: hidden;

    &__icon {
        width: 35px;
        height: 35px;
    }

    &__name {
        white-space: nowrap;
        margin-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.photo-load {
    width: 100%;

    &__wrapper {
        width: 100%;
        height: 96px;
        position: relative;
        overflow: hidden;
        transition: border $transitionSpeed $transitionFunction;
        background-color: var(--stand-bg);
        border: 1px dashed #2683F2;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        p {
            font-size: var(--default-fz);
            line-height: var(--default-lh);
            color: var(--primaryTwo);
            font-weight: 400;

            &:not(:last-child) {
                margin-bottom: 16px;

                @media (max-width:$desktop) {
                    margin-bottom: 8px;
                }
            }

            &:nth-child(1) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:nth-child(2) {
                color: var(--blue);

                span {
                    color: var(--primaryTwo);

                    @media (max-width:$desktop) {
                        display: none;
                    }
                }
            }

            span {
                &:nth-child(2) {
                    margin-left: 16px;
                }
            }
        }

        >input {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 96px;
            opacity: 0;
            cursor: pointer;
        }

        @media (max-width:$desktop) {
            padding: 32px 16px;
        }
    }

    &._active {
        .photo-load__wrapper {
            border: 1px dashed var(--red);
        }
    }

    &._loaded {
        .photo-load__images {
            margin-bottom: 24px;
        }
    }
}

.video-load {
    &__title {}

    &__descr {
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        color: var(--primaryTwo);
        font-weight: 400;
    }

    .row {
        margin-top: 16px;
        display: grid;
        grid-template-columns: 1fr 20%;
        grid-gap: 8px;
    }

    &__input {
        input {
            height: 50px;
        }
    }

    &__content {
        display: grid;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        grid-template-columns: repeat(auto-fill, 271px);
    }

    .video-card {
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            background-color: rgba(36, 38, 41, .5);
            z-index: 1;
            inset: 0;
            opacity: 0;
            transition: opacity $transitionSpeedFast $transitionFunction;
        }

        &__image {
            padding-bottom: percent(190, 271);
        }

        @media (min-width:$desktop-min) {
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

.select-map-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
    border: 1px solid var(--primary200);
    border-radius: 12px;

    color: var(--gray);
    font-size: var(--default-fz);
    line-height: var(--little-small-lh);
    font-weight: 400;
    height: 48px;
    padding: 0 16px;

    transition: border $transitionSpeed $transitionFunction,
        color $transitionSpeed $transitionFunction;

    svg {
        width: 18px;
        height: 18px;
        fill: var(--blue);
        margin-left: 10px;
    }

    &.focus-visible {
        border: 1px solid var(--blue);
    }

    @media (min-width:$desktop-min) {
        &:hover {
            border: 1px solid var(--blue);
            color: var(--blue);
        }
    }

    @media (max-width:$desktop) {
        width: 100%;
        height: 50px;
    }
}

.object-small-card {
    --size-image: 45px;
    display: grid;
    grid-template-columns: var(--size-image) 1fr;
    align-items: center;
    grid-column-gap: 12px;
    grid-row-gap: 4px;

    &__image {
        grid-column: 1/2;
        grid-row: 1/3;
        width: var(--size-image);
        height: var(--size-image);
        border-radius: 8px;

        img {
            border-radius: 8px;
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        grid-column: 2/3;
        grid-row: 1/2;

        color: var(--dark);
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        font-weight: 500;

        align-self: end;
    }

    &__descr {
        grid-column: 2/3;
        grid-row: 2/3;

        color: var(--primary600);
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        font-weight: 400;

        align-self: start;
    }

    @media (max-width:$smallTablet-max) {
        grid-column-gap: 10px;
    }
}

.cards-list {
    background-color: var(--stand-bg);
    padding: 24px 0;
    border-radius: 16px;

    &__controls {
        display: flex;
        align-items: center;

        @media (max-width:$desktop) {
            padding: 0 16px;
        }

        @media (max-width:$tablet-max) {
            display: none;
        }
    }

    &__items {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-row-gap: 24px;
        grid-column-gap: 16px;

        @media (max-width:$desktop) {
            grid-row-gap: 16px;
        }

        @media (max-width:$tablet-max) {
            margin-top: 0;
            grid-row-gap: 12px;
        }
    }

    &__banner {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--white);
        border-radius: 12px;
        box-shadow: var(--shadow-secondary);
        font-size: var(--big-small-fz);
        line-height: var(--big-small-lh);
        font-weight: 500;
        min-height: 300px;
        grid-column: 1/-1;
    }

    &__next {
        margin-top: 32px;
        width: 100%;

        @media (max-width:$smallTablet-max) {
            margin: 16px auto 0;
            width: calc(100% - 32px);
        }
    }

    &__pagination {
        margin-top: 24px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width:$smallTablet-max) {
            margin-top: 16px;
        }
    }

    @media (max-width:$smallTablet-max) {
        border-radius: 0;
        background-color: transparent;
        padding: 0;
    }
}

.control-cards {
    .container {
        @media (max-width:$desktop) {
            padding: 0;
        }
    }

    &__btns {
        @media (max-width:$desktop) {
            padding: 0 16px;
        }

        @media (max-width:$tablet-max) {
            padding: 16px 16px 0;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: var(--white);
        border-radius: 50%;
        color: var(--blue);
        border: 1px solid var(--blue);

        &:not(:first-child) {
            margin-left: 10px;
        }

        svg {
            width: 12px;
            height: 12px;
            fill: currentColor;
        }

        &--horizontal {}

        &--vertical {}

        &--maps {
            margin-left: auto;
            padding: 10px 14px;
            width: auto;
            height: auto;
            border-radius: 16px;
            color: var(--blue);
            font-size: var(--small-fz);
            line-height: var(--small-lh);
            font-weight: 500;
            background-color: var(--white);
            border: 1px solid var(--blue);


            svg {
                width: 13px;
                height: 14px;
                margin-left: 8px;
                fill: currentColor;
            }

            &.focus-visible {
                color: var(--white);
                background-color: var(--blue);
            }

            @media (min-width:$desktop-min) {
                &:hover {
                    background-color: var(--blue);
                    color: var(--white);
                }
            }

            @media (max-width:$tablet-max) {
                font-size: 0;
                height: 41px;
                border-radius: 12px;
                padding: 8px 12px;

                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--primary300);
                margin-left: 8px;

                svg {
                    width: 16px;
                    height: 16px;
                    margin: 0;
                    fill: var(--gray);
                }
            }
        }

        @media (min-width:$desktop-min) {
            &:hover {
                background-color: var(--blue);
                color: var(--white);
            }
        }

        &.focus-visible {
            background-color: var(--blue);
            color: var(--white);

            &._active {
                background-color: var(--primary600);
            }
        }
    }
}

.field-static {
    height: 58px;
    padding: 8.5px 16px;
    display: grid;
    grid-template-columns: 1fr 15px;
    align-items: center;

    background-color: transparent;
    border: 1px solid var(--primary200);
    border-radius: 12px;
    text-align: left;

    &__subtitle {
        grid-column: 1/2;
        grid-row: 1/2;

        color: var(--primaryTwo);
        font-size: var(--very-small-fz);
        line-height: 1;
        font-weight: 400;
    }

    &__text {
        margin-top: 2px;

        grid-column: 1/2;
        grid-row: 2/3;

        color: var(--gray);
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        font-weight: 500;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__arrow {
        grid-column: 2/3;
        grid-row: 1/3;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: var(--blue);

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 5px;
            height: 8px;
            fill: var(--white);

        }
    }
}

.interest-rate-card {
    background-color: var(--white);
    border: 1px solid #CBE2FF;
    border-radius: 12px;
    padding: 16px;
    text-align: left;
    display: grid;
    grid-template-columns: 33px 1fr;
    align-items: center;
    grid-column-gap: 12px;
    width: 242px;
    height: 100%;
    box-sizing: border-box;

    transition: border $transitionSpeed $transitionFunction;

    position: relative;

    &__circle {
        grid-column: 1/2;
        display: block;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background-color: var(--primary200);

        @media (max-width:$desktop) {
            width: 28px;
            height: 28px;
        }
    }

    &__title {
        color: var(--primary600);
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        font-weight: 500;
        grid-column: 2/3;
    }

    &__prc {
        margin-top: 16px;

        display: flex;
        align-items: center;

        grid-column: 1/-1;

        color: var(--primaryTwo);
        font-size: var(--default-fz);
        line-height: var(--default-lh);

        @media (max-width:$desktop) {
            margin-top: 12px;
        }
    }

    &__prc--old {
        margin-right: 8px;
        position: relative;

        &::before {
            content: "";
            border-bottom: 1px solid currentColor;
            position: absolute;
            width: 100%;
            height: 50%;
            transform: rotate(-5deg);
        }
    }

    &__prc--new {}

    &__price {
        margin-top: 5px;
        grid-column: 1/-1;

        color: var(--dark);
        font-size: var(--little-big-fz);
        line-height: var(--little-big-lh);
        font-weight: 500;
    }

    &__check {
        position: absolute;
        top: -4px;
        right: -4px;
        width: 20px;
        height: 20px;
        background-color: var(--blue);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
        visibility: hidden;

        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;

        svg {
            width: 10px;
            height: 10px;
            fill: none;
            stroke: var(--white);
            stroke-width: 1.5px;
        }
    }

    &.interest-rate-card--small {
        grid-template-columns: 1fr;

        .interest-rate-card {
            &__title {
                grid-column: 1/-1;
            }

            &__prc--new {
                color: var(--dark);
            }
        }
    }

    &._active {
        border: 1px solid var(--blue);

        .interest-rate-card__check {
            opacity: 1;
            visibility: visible;
        }
    }

    @media (max-width:$desktop) {
        width: 220px;
    }
}

.choice-pay {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);

    &__card {
        padding: 16px;
        background-color: var(--white);
        border: 1px solid #CBE2FF;
        border-radius: 12px;
        position: relative;
        transition: border $transitionSpeed $transitionFunction;
        text-align: left;

        .row {
            display: flex;
            align-items: center;
            padding-right: 24px;

            @media (max-width:$smallTablet-max) {
                flex-direction: row !important; // need hack :( 
            }
        }

        &--sum {
            .choice-pay {
                &__descr {
                    color: var(--green);
                }
            }
        }

        &--mortgage {
            .choice-pay {
                &__descr {
                    color: var(--primaryTwo);
                }
            }
        }

        &:not(:last-child) {
            margin-right: 24px;

            @media (max-width:$smallTablet-max) {
                margin-right: 0;
                margin-bottom: 16px;
            }
        }

        &._active {
            border: 1px solid var(--blue);
            cursor: default;
            pointer-events: none;

            .choice-pay {
                &__check {
                    background-color: var(--blue);
                }

                &__btn {
                    display: flex;
                }
            }
        }
    }

    &__title {
        font-size: var(--default-fz);
        line-height: var(--little-small-lh);
        color: var(--dark);
        font-weight: 500;
        white-space: nowrap;
    }

    &__prc {
        margin-left: 5px;
        padding: 3px 10px;
        color: var(--green);
        background: rgba(36, 202, 142, 0.1);
        border-radius: 8px;
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        font-weight: 400;
        white-space: nowrap;

    }

    &__descr {
        margin-top: 10px;
        font-size: var(--default-fz);
        line-height: var(--little-small-lh);
        font-weight: 500;
        padding-right: 24px;

    }

    &__check {
        position: absolute;
        top: 16px;
        right: 16px;

        width: 15px;
        height: 15px;
        background-color: var(--primary100);
        border: 1px solid var(--primaryTwo);
        border-radius: 100px;
        transition: background-color $transitionSpeed $transitionFunction;
    }

    &__btn {
        margin-top: 16px;
        height: 31px;
        width: 100%;
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        font-weight: 400;
        display: none;

        cursor: pointer;
        pointer-events: all;

        @media (max-width:$smallTablet-max) {
            height: 40px;
        }
    }

    @media (max-width:$smallTablet-max) {
        grid-template-columns: 1fr;
    }
}

.block-tour {
    background-color: var(--white);
    box-shadow: var(--shadow-primary);
    border-radius: 12px;
    padding: 32px 24px 24px;

    &__title {
        margin-bottom: 16px;
    }

    &__video {}

    &__btn {
        margin-top: 24px;
        width: 100%;
    }

    @media (max-width:$desktop) {
        padding: 16px;
    }
}

.card-agent {
    background-color: var(--white);
    box-shadow: var(--shadow-secondary);
    border-radius: 12px;
    padding: 24px 24px;
    box-sizing: border-box;
    border: 1px solid transparent;

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__avatar {
        --size: 95px;
        filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.04));
        z-index: 1;
        position: relative;
        width: var(--size);
        height: var(--size);
        flex: 0 0 var(--size);

    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name {
        margin-top: 16px;
        color: var(--dark);
        font-size: var(--little-big-fz);
        ;
        line-height: var(--little-big-lh);
        font-weight: 500;
        transition: color $transitionSpeed $transitionFunction;
        display: block;
    }

    &__time {
        margin-top: 5px;
        margin-bottom: 16px;
        color: var(--primaryTwo);
        font-size: var(--very-small-fz);
        line-height: 1;
        font-weight: 400;
    }

    &__rating {
        margin-bottom: 8px;
        display: flex;
        align-items: center;

        span {
            font-size: var(--small-fz);
            line-height: var(--small-lh);
            color: var(--primary600);

            &:nth-child(2) {
                font-weight: 500;
                margin-left: 4px;
            }

            &:nth-child(3) {
                margin-left: 4px;
                font-weight: 400;
            }
        }
    }

    &__rating-stars {
        display: flex;
        align-items: center;
        --icon-size: 16px;

        svg {
            width: var(--icon-size);
            height: var(--icon-size);
            fill: var(--yellow);

            &:not(:last-child) {
                margin-right: 2px;
            }
        }
    }

    &__quantity {
        display: flex;
        align-items: center;
        color: var(--primary600);
        margin-bottom: 24px;

        svg {
            width: 10px;
            height: 10px;
            fill: currentColor;
            margin-right: 5px;
        }

        span {
            color: inherit;
            font-size: var(--small-fz);
            line-height: var(--small-lh);
            font-weight: 500;
        }
    }

    &__more {
        margin-top: auto;
        color: var(--blue);
        display: flex;
        align-items: center;
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        font-weight: 400;

        svg {
            width: 18px;
            height: 18px;
            fill: var(--blue);
            margin-left: 5px;
        }
    }

    @media (min-width:$desktop-min) {
        transition: border $transitionSpeed $transitionFunction,
            box-shadow $transitionSpeed $transitionFunction;

        &:hover {
            border: 1px solid var(--blue);
            box-shadow: none;
        }
    }
}

.presentation {
    position: relative;

    &__btn {
        width: 100%;
        padding: 0 33px 0 0;

        svg {
            width: 20px;
            height: 20px;
            fill: var(--white);

            position: absolute;
            top: auto;
            bottom: auto;
            right: 6px;
            z-index: 1;

            transition: transform $transitionSpeedFast $transitionFunction;
        }

        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            height: 100%;
            width: 33px;
            background-color: var(--blue);

            position: absolute;
            top: 0;
            right: 0;
        }

        &._active {
            svg {
                transform: rotate(-180deg);
            }
        }

        @media (min-width:$desktop-min) {
            &:hover {
                background-color: var(--white);
                color: var(--blue);
            }
        }
    }

    &__dropdown {
        padding: 32px 24px;

        position: absolute;
        top: 100%;
        right: 0;

        background-color: var(--white);
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
        border: 1px solid rgba(122, 127, 170, 0.1);
        z-index: 9;

        width: 316px;
        min-width: 100%;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);

        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;

        &._active {
            opacity: 1;
            visibility: visible;
            transform: translateY(4px);
        }

        @media (max-width:$desktop) {
            padding: 16px;
        }

        @media (max-width:$smallTablet-max) {
            width: calc(100% + 32px);
            right: -16px;
        }
    }

    &__title {}

    &__radios {
        margin: 24px 0;
    }

    .radio-primary {
        &__item {
            background-color: var(--primary100);
            border-radius: 16px;

            &:not(:last-child) {
                margin-bottom: 16px;

                @media (max-width:$desktop) {
                    margin-bottom: 8px;
                }
            }
        }

        &__label {
            padding: 16px 24px 16px 16px;
            display: flex;

            &::after {
                left: 20px;
                top: 20px;
            }

            svg {
                width: 16px;
                height: 13px;
                fill: var(--blue);
                margin-left: auto;
            }
        }

        &__text {
            margin-left: 32px;
        }
    }

    &__btns {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;

        @media (max-width:$desktop) {
            grid-column-gap: 8px;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid var(--blue);
        border-radius: 16px;
        height: 48px;
        transition: background-color $transitionSpeed $transitionFunction;

        svg {
            width: 15px;
            height: 15px;
            transition: fill $transitionSpeed $transitionFunction;
        }

        &:nth-child(1) {
            svg {
                fill: var(--blue);
            }
        }

        &:nth-child(2) {
            svg {
                fill: var(--green);
            }
        }

        &:nth-child(3) {
            svg {
                fill: var(--blue);
            }
        }

        @media (min-width:$desktop-min) {
            &:hover {
                background-color: var(--blue);

                svg {
                    fill: var(--white);
                }
            }
        }

        @media (max-width:$desktop) {
            height: 42px;
            border-radius: 12px;
        }
    }
}

.list-empty {
    text-align: center;

    &__title {}

    &__descr {
        margin-top: 16px;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        color: var(--dark);
    }

    &__btn {
        margin: 32px auto 0;
        padding: 0 48px;

        svg {
            width: 15px;
            height: 15px;
            fill: currentColor;
            margin-right: 10px;
        }

        @media (max-width:$desktop) {
            margin-top: 24px;

            svg {
                width: 15px;
                height: 15px;
            }
        }
    }
}


.tags {
    &__list {
        display: flex;
        flex-wrap: wrap;

        @media (max-width:$desktop) {
            overflow-x: auto;
            @include hiddenScroll;
            flex-wrap: nowrap;
        }
    }

    &__item {
        margin: 0 8px 8px 0;

        @media (max-width:$desktop) {
            margin: 0 8px 0 0;
        }
    }

    &__btn {
        margin-top: 6px;
        color: var(--blue);
        display: flex;
        align-items: center;

        span {
            font-size: var(--small-fz);
            line-height: var(--small-lh);
            font-weight: 400;
        }

        svg {
            width: 20px;
            height: 17px;
            fill: currentColor;
            margin-left: 8px;
            transition: transform $transitionSpeed $transitionFunction;
        }

        &.focus-visible {
            color: var(--primary600);
        }

        @media (max-width:$desktop) {
            display: none;
        }
    }

    &._active {
        .tags__btn {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.tag {
    height: 40px;
    padding: 0 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 12px;

    color: var(--dark);
    background-color: var(--primary100);
    max-width: 100%;

    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &._active {
        background-color: var(--blue);
        color: var(--white);
    }

    &.focus-visible {
        &:not(._active) {
            background-color: var(--primary200);
        }
    }

    @media (min-width:$desktop-min) {
        &:hover {
            &:not(._no-select, ._active) {
                background-color: var(--primary200);
            }
        }
    }

    &._no-select {
        cursor: default;
    }
}


.chat-user {
    display: grid;
    grid-template-columns: 40px 1fr max-content;
    grid-column-gap: 10px;
    text-align: left;
    transition: background-color $transitionSpeed $transitionFunction;
    border-radius: 12px;
    position: relative;
    padding: 12px 40px 12px 16px;
    width: 100%;

    &__avatar {
        grid-column: 1/2;
        grid-row: 1/4;
        width: 40px;
        height: 40px;
    }

    &__pos {
        margin-top: 2px;
        grid-column: 2/3;
        color: var(--primaryTwo);
        font-size: var(--very-small-fz);
        line-height: 1;
        font-weight: 400;
        transition: color $transitionSpeed $transitionFunction;
    }

    &__name {
        grid-column: 2/3;
        margin-top: 2px;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        font-weight: 500;
        color: var(--dark);
        transition: color $transitionSpeed $transitionFunction;
    }

    &__title {
        grid-column: 2/3;
        margin-top: 3px;
        color: var(--primaryTwo);
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        font-weight: 400;
        transition: color $transitionSpeed $transitionFunction;
    }

    &__message {
        grid-column: 2/4;
        margin-top: 5px;

        display: flex;
        align-items: center;


        span {
            &:nth-child(1) {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                font-size: var(--small-fz);
                line-height: var(--small-lh);
                color: var(--dark);
                margin-right: 3px;
                transition: color $transitionSpeed $transitionFunction;
            }
        }
    }

    &__prints {
        grid-column: 2/4;
        margin-top: 5px;
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        color: var(--dark);
        transition: color $transitionSpeed $transitionFunction;
    }

    &__counter {
        font-size: var(--very-small-fz);
        line-height: 1;
        color: var(--white);
        background-color: var(--blue);

        display: block;
        height: 18px;
        min-width: 18px;
        padding: 0px 5px;
        border-radius: 16px;
        flex: 1 0 auto;
        transition: background-color $transitionSpeed $transitionFunction,
            color $transitionSpeed $transitionFunction;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__time {
        grid-column: 3/4;
        grid-row: 1/3;

        color: var(--primaryTwo);
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        font-weight: 400;
        transition: color $transitionSpeed $transitionFunction;
    }

    .dots-dropdown {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        z-index: 2;

        &__dropdown {
            right: -16px;

            button {
                flex: 0 0 18px;
                white-space: nowrap;

                &:nth-child(1) {
                    svg {
                        stroke: var(--blue);
                        stroke-width: 1.5px;
                        fill: none;
                    }
                }
            }
        }

    }

    @media (min-width:$desktop-min) {
        &:hover {
            background-color: var(--hover-primary);
        }
    }

    &._active {
        background-color: var(--blue);

        .chat-user {
            &__name {
                color: var(--white);
            }

            &__pos {
                color: var(--white);
            }

            &__title {
                color: var(--white);
            }

            &__message {
                span {
                    &:nth-child(1) {
                        color: var(--white);
                    }
                }
            }

            &__counter {
                background-color: var(--white);
                color: var(--blue);
            }

            &__time {
                color: var(--white);
            }

            &__prints {
                color: var(--white);
            }
        }

        .dots-dropdown__target svg {
            fill: var(--white);
        }
    }

    &._dropdown-active {
        z-index: 4;
    }
}



.online-display {
    width: 100%;


    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    &__main-title {
        grid-column: 1/-1;
        font-size: var(--big-small-fz);
        line-height: var(--big-small-lh);
        font-weight: 500;
        color: var(--dark);
        margin-bottom: 8px;
    }

    &__item {
        display: grid;
        grid-template-columns: 35px 1fr 24px;
        grid-column-gap: 16px;

        grid-row-gap: 4px;
        text-align: left;

        padding: 16px;
        border-radius: 12px;

        transition: background-color $transitionSpeed $transitionFunction;

        @media (min-width:$desktop-min) {
            &:hover {
                svg {
                    animation: shake_online-display 0.82s cubic-bezier(.36, .07, .19, .97) both;
                    transform: rotate(-90deg) translate3d(0, 0, 0);
                }
            }
        }


        &--light-blue {
            background-color: #e8ffff;

            @media (min-width:$desktop-min) {
                &:hover {
                    background-color: #d5f2f2;
                }
            }
        }

        &--green {
            background-color: #ebfde6;

            @media (min-width:$desktop-min) {
                &:hover {
                    background-color: #dbfbd1;
                }
            }
        }

        &--light-purple {
            background-color: #f9f2ff;

            @media (min-width:$desktop-min) {
                &:hover {
                    background-color: #f0d9ff;
                }
            }
        }

        &--orange {
            background-color: #ffecd6;

            @media (min-width:$desktop-min) {
                &:hover {
                    background-color: #ffe0bf;
                }
            }
        }

        &--blue {
            background-color: #edf4ff;

            @media (min-width:$desktop-min) {
                &:hover {
                    background-color: #d9ecff;
                }
            }
        }

        &--dark-green {
            background-color: #e3ffec;

            @media (min-width:$desktop-min) {
                &:hover {
                    background-color: #cef5d9;
                }
            }
        }

        &--yellow {
            background-color: #fff1c5;

            @media (min-width:$desktop-min) {
                &:hover {
                    background-color: #ffe7a8;
                }
            }
        }

        &--dark-purple {
            background-color: #ffdfed;

            @media (min-width:$desktop-min) {
                &:hover {
                    background-color: #ffc4dd;
                }
            }
        }
    }

    &__title {
        grid-column: 2/3;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        font-weight: 500;
    }

    &__descr {
        grid-column: 2/3;
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        color: var(--dark);
    }

    &__btn {
        grid-column: 1/-1;

        @media (max-width:$tablet-max) {
            margin-top: 8px;
        }
    }

    img {
        align-self: center;
        grid-column: 1/2;
        grid-row: 1/3;
    }

    svg {
        grid-row: 1/3;
        grid-column: 3/4;
        width: 20px;
        height: 20px;
        transform: rotate(-90deg);
        align-self: center;
    }

    @media (max-width:$smallTablet-max) {
        grid-template-columns: 1fr;
        grid-row-gap: 8px;
    }
}


.location-routes {
    &__btn {
        font-size: var(--small-fz);
        height: 42px;
        padding: 0 24px;

        svg {
            width: 14px;
            height: 14px;
            margin-right: 8px;
            fill: var(--white);
        }
    }
}



.clue-primary {
    position: fixed;
    top: 16px;
    right: 32px;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 8px;
    z-index: 2000;

    background-color: var(--white);
    border-radius: 12px;
    box-shadow: var(--shadow-primary);
    padding: 24px;

    max-width: 320px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: opacity 0.3s $transitionFunction,
        visibility 0.3s $transitionFunction,
        transform 0.2s $transitionFunction;

    &__close {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;

        svg {
            width: 25px;
            height: 25px;
            fill: var(--blue);
        }
    }

    &__icon {
        margin-top: 2px;
        grid-column: 1/2;
        grid-row: 1/3;

        width: 25px;
        height: 20px;
        fill: none;
        stroke: var(--primaryTwo);
        stroke-width: 1.2px;
    }

    &__title {
        grid-column: 2/3;
    }

    &__descr {
        grid-column: 2/3;
        color: var(--primaryTwo);

        font-size: var(--small-fz);
        line-height: var(--small-lh);
    }

    &.is-open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.requisites {
    text-align: left;

    &__title {
        &:not(:first-child) {
            margin-top: 24px;

        }
    }

    &__descr {
        margin-top: 8px;
        color: var(--primaryTwo);

        font-size: var(--default-fz);
        line-height: var(--default-lh);
    }

    &__btns {
        margin-top: 16px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    &__clue {
        margin-top: 24px;

        a {
            color: var(--blue);
        }
    }

    &__list {
        margin-top: 32px;
    }

    &__item {
        >div {
            &:not(:last-child) {
                margin-bottom: 24px;
            }

            >div {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 16px;
                grid-row-gap: 16px;
            }
        }
    }

    &__subtitle {
        margin-bottom: 8px;
    }
}

.requisites-item {
    background-color: var(--white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 24px 24px;
    position: relative;
    border: 1px solid transparent;
    transition: border $transitionSpeed $transitionFunction,
        box-shadow $transitionSpeed $transitionFunction;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: start;

    &__check {
        position: absolute;
        top: -4px;
        right: -4px;
        width: 20px;
        height: 20px;
        background-color: var(--blue);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
        visibility: hidden;

        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;

        svg {
            width: 10px;
            height: 10px;
            fill: none;
            stroke: var(--white);
            stroke-width: 1.5px;
        }
    }

    &__img {
        width: 45px;
        height: 45px;

        img {
            max-height: 100%;
        }
    }

    &__title {
        margin-top: 16px;

        font-size: var(--little-big-fz);
        ;
        line-height: var(--little-big-lh);
        font-weight: 500;
    }

    &__descr {
        margin-top: 8px;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        color: var(--gray);
    }

    &__tag {
        margin-top: 16px;
        padding: 6px 16px;
        color: var(--dark);
        font-weight: 400;
        font-size: var(--small-fz);
        line-height: 1;
        border-radius: 12px;
        background-color: rgba(0, 150, 255, 0.2);

        display: flex;
        align-items: center;
        justify-content: center;

        &.requisites-item__tag--top {
            margin: 0;
            background-color: var(--gray);
            color: var(--white);
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }

    &._active {
        border: 1px solid var(--blue);
        box-shadow: none;

        .requisites-item__check {
            opacity: 1;
            visibility: visible;
        }
    }
}
