.additionally {
    box-shadow: var(--shadow-primary);
    border-radius: 12px;
    background-color: var(--white);
    padding: 32px;
    &__title {
        margin-bottom: 12px;
    }
    &__descr{
        margin-bottom: 16px;
        color: var(--primaryTwo);
    }
    &__items {
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 12px;
        grid-row-gap: 16px;
    }
    &__form{
        margin-top: 32px;

        display: flex;
        align-items: center;
        gap: 8px;
    }
}
