.agent-develop {
    .bid-user {
        padding: 40px 24px 32px;

        @media (max-width:$desktop) {
            padding: 16px;
        }
    }

    .bid__body {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
    }

    .agent-object {
        padding-top: 24px;

        @media (max-width:$desktop) {
            margin-top: 8px;
            padding: 16px 0 0;
            background-color: var(--white);
        }
    }

    .card-secondary {
        &__bottom {
            border-top: 1px solid var(--primary100);
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% + 35px);
            margin: auto -24px 0 -24px;
            padding: 16px 24px 0 24px;
        }
    }
    .block-stock{
        &__tabs{
            @media (max-width:$desktop){
                 padding: 0;
                 border-radius: 0; 
            }
        }
        &__title{
            @media (max-width:$desktop){
                 padding: 0 16px; 
            }
        }
        .tabs-primary__container{
            @media (max-width:$desktop){
                 margin-top: 16px; 
            }
        }
        .tabs-primary__inner{
            @media (max-width:$desktop){
                 padding-top: 0; 
            }
        }
        @media (max-width:$desktop){
              
        }
    }
}



.agent-object {
    &__title {
        span {
            color: var(--primaryTwo);
            font-weight: 500;
            font-size: var(--default-fz);
            line-height: var(--default-lh);
            @media (max-width:$desktop){
                 display: block; 
            }
        }

        @media (max-width:$desktop) {
            padding: 0 16px;
        }
    }

    &__filter {
        margin-top: 32px;

        @media (max-width:$desktop) {
            margin-top: 24px;
            margin-bottom: 0;
            padding: 0 16px;
        }
    }

    &__cards-list {
        margin-top: 24px;
        >.container{
            @media (max-width:$desktop){
                 padding: 0; 
            }
        }
    }
    
}

.agent-object-filter {

    &__row--1 {
        grid-template-columns: percent(278, 1180) percent(363, 1180) percent(315, 1180) percent(200, 1180);
    }

    &__row--2 {
        grid-template-columns: percent(278, 1180) 1fr;
    }
}
