.apartmentography-floor {

    &__container {
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        padding: 32px;
        border-radius: 12px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        .select-secondary{
            max-width: 350px;
            width: 100%;
        }
    }

    &__title {
    }

    &__table {
        margin-top: 24px;
    }
}
