.apartmentography-house {

    &__container {
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        padding: 32px;
        border-radius: 12px;
    }

    &__title {
    }

    &__wrapper {
        margin-top: 24px;
        display: grid;
        grid-template-columns: 48% 40%;
        grid-column-gap: 40px;
        grid-row-gap: 16px;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__block {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: currentColor;
    }

    &__name {
        margin-left: 16px;
        color: var(--dark);
    }

    &__line {
        flex-grow: 1;
        margin: 0 16px;
        height: 100%;

        display: flex;
        align-items: center;
        span{
            height: 6px;
            background-color: currentColor;
            border-radius: 6px;
        }
    }

    &__quantity {
    }

    &__info {
        background-color: var(--primary100);
        border-radius: 12px;
        padding: 20px;
        display: flex;
        align-items: start;
        gap: 24px;
    }
    &__element{
        p{
            &:nth-child(1){
                color: var(--primaryTwo);
                margin-bottom: 8px;
            }
            &:nth-child(2){
                font-weight: 500;
            }
        }
    }
}
