.app-verif-documents {
    margin-top: 32px;
    &__item {
    }

    &__subtitle {
        text-align: left;
        &:not(:last-child){
            border-bottom: 1px solid var(--primary100);
            padding-bottom: 16px;
        }
    }

    &__title {
    }

    .spollers {

        &__item {
            margin: 0;
        }
    
        &__title {
            text-align: left;
            svg{
                margin-left: 24px;
            }
        }
    
        &__body {
        }
    }
    
}

