.base-agent-catalog {

    &__body {
        @media (max-width:$desktop) {
            background-color: var(--stand-bg);
            padding: calc(var(--header-height) + 24px) 0 0;
        }
    }

    &__title {
        @media (max-width:$desktop) {
            padding: 0 16px;
        }
    }

    &__filter {
        margin-top: 32px;

        .filter {

            &__btn {
                @media (max-width:$desktop) {
                    margin: 0 16px;
                    width: calc(100% - 32px);
                }
            }
        }

        @media (max-width:$tablet-max) {
            margin-top: 24px;
        }
    }

    &__input {
        @media (max-width:$desktop) {
            width: 100%;
        }
    }

    &__select {

        &:nth-child(3) {
            .choices__list--single {
                padding: 0 30px 0 125px;
            }
        }
    }

    &__controls {
        margin-top: 16px;
    }

    &__sort {
        align-self: start;

        @media (max-width:$desktop) {
            justify-content: center;
            margin-top: 16px;
            padding: 0 16px;
        }
    }

    &__table {
        margin-top: 32px;

        .main-table {
            &__type {
                grid-template-columns: percent(340, 1016) percent(420, 1016) 1fr;
                grid-column-gap: 40px;
            }

            &__next {
                margin: 24px 16px 0;
                width: calc(100% - 32px);
            }
        }

        @media (max-width:$desktop) {
            margin-top: 16px;
            padding: 0 0 16px 0;
            background-color: transparent;
        }
    }

    @media (max-width:$desktop) {
        padding-top: 0;
    }
}

.base-agent-catalog-filter {
    &__row--1 {
        grid-template-columns: percent(245, 1080) percent(250, 1080) percent(279, 1080) percent(258, 1080);
    }
}
