.calendar-page {

    &__title {
        @media (max-width:$desktop) {
            padding: 0 16px;
        }
    }

    &__container {
        @media (max-width:$desktop) {
            padding: calc(var(--header-height) + 24px) 0 16px;
            background-color: var(--stand-bg);
        }
    }

    &__body {
        margin-top: 32px;
        padding: 32px;
        background-color: var(--stand-bg);
        border-radius: 16px;

        @media (max-width:$desktop) {
            margin-top: 24px;
            background-color: var(--white);
            padding: 0;
        }
    }

    &__calendar {
        background-color: var(--white);
        padding: 24px;
        border-radius: 12px;
        box-shadow: var(--shadow-primary);

        @media (max-width:$desktop) {
            box-shadow: none;
            padding: 16px;
        }
    }
}
