.dynamic-row {

    &__item {
        display: flex;
        align-items: center;
    }

    &__name {
        width: 150px;
    }

    &__line {
        flex-grow: 1;
        margin: 0 16px;
        height: 100%;
        display: flex;
        align-items: center;
        span{
            display: block;
            width: 50%;
            height: 6px;
            border-radius: 6px;
            background-color: rgb(139, 197, 64);
        }
    }

    &__value {
    }
}
