.logo {
    width: 190px;

    &__img {
        @media (max-width:$desktop) {
            width: 125px;
        }
    }

    @media (max-width:$desktop) {
        width: 125px;
    }
}




.city {

    &__title {
        color: var(--dark);
        display: flex;
        align-items: center;

        svg {
            width: 14px;
            height: 16px;
            margin-right: 8px;
            fill: var(--primaryTwo);
        }

        @media (min-width:$desktop-min) {
            &:hover {
                color: var(--blue);
            }
        }

        @media (max-width:$desktop) {
            -webkit-tap-highlight-color: transparent;
            width: 100%;
        }
    }

    &__name {
        color: var(--primaryTwo);
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        font-weight: 500;
        transition: color $transitionSpeed $transitionFunction;

        @media (min-width:$desktop-min) {
            &:hover {
                color: var(--blue);
            }
        }
    }

    &__descr {
        color: var(--blue);
        text-decoration: underline;
        flex-grow: 1;
        text-align: right;
        font-size: var(--default-fz);
        line-height: var(--default-lh);

        @media (min-width:$desktop-min) {
            display: none;
        }
    }
}

.city-popup {

    &__title {}

    &__auto {
        margin-top: 24px;

        .checkbox-secondary__label {
            justify-content: start;
        }
    }

    &__input {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        border: 1px solid var(--primary200);
        padding: 0 16px;
        border-radius: 12px;
        height: 48px;
        transition: border $transitionSpeed $transitionFunction;

        input {
            border: none;
            flex-grow: 1;
            padding-left: 16px;
            padding-right: 16px;
            color: var(--primaryTwo);
            font-size: var(--default-fz);
            line-height: var(--default-lh);
            background-color: transparent;
            height: 100%;

            &::placeholder {
                color: inherit;
            }
        }

        button {
            width: 20px;
            height: 20px;

            svg {
                width: 100%;
                height: 100%;
                fill: var(--primaryTwo);
            }
        }

        @media (min-width:$desktop-min) {
            &:hover {
                border: 1px solid var(--blue);
            }
        }

        &:focus {
            border: 1px solid var(--blue);
        }
    }

    &__list {
        margin-top: 24px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px 10px;
    }

    &__item {
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        font-weight: 500;
        color: var(--blue);
        height: 48px;
        padding: 15px 24px;
        flex-grow: 1;
        max-width: 65%;
        border-radius: 8px;

        &._active {
            color: var(--white);
            background-color: var(--blue);
        }
    }

    &__save {
        margin: 32px 0 0 auto;
        padding: 13px 37px;
        height: 48px;

        @media (max-width:$smallTablet-max) {
            width: 100%;
        }
    }
}



.nav {
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    min-height: calc((var(--vh, 100vh) - var(--header-height, 105px)) / 100 * 80);
    height: 100%;
    background-color: var(--white);

    transition: opacity $transitionSpeed $transitionFunction,
    visibility $transitionSpeed $transitionFunction,
    transform $transitionSpeed $transitionFunction;

    &._active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    &__container {
        padding-top: 24px;
        padding-bottom: 24px;

        display: flex;
        height: 100%;
    }

    &__menu {
        min-width: 195px;
        max-width: 195px;
    }

    &__content {
        flex-grow: 1;
    }
}


.nav-menu {
    height: 100%;
    border-right: 1px solid var(--primary100);
    &__item {
        &:not(:last-child) {}
        &._active{
            color: var(--blue);
        }

        >a {
            font-weight: 500;
            padding: 16px 0;
            width: 100%;
        }
    }
}

.nav-content {
    margin-top: 16px;
    padding-left: 32px;
    &__body {
        display: none;
        &._active{
            display: block;
        }
    }

    &__title {}

    &__item {}
}





// .nav {
//     height: 100%;

//     &__list {
//         display: flex;
//         align-items: center;
//         height: 100%;
//     }

//     &__item {
//         height: 100%;
//         display: flex;
//         align-items: center;
//         padding: 0 24px;
//         cursor: pointer;

//         &:last-child {
//             padding-right: 0;
//         }
//         @media (min-width:$desktop-min) {
//             &:hover {
//                 .nav__link {
//                     color: var(--blue);

//                     &::before {
//                         width: 125%;
//                     }
//                 }
//             }
//         }
//     }

//     &__link {
//         color: var(--primaryTwo);
//         font-weight: 500;
//         font-size: var(--default-fz);
//         line-height: var(--little-small-lh);
//         transition: color $transitionSpeed $transitionFunction;
//         height: 100%;
//         position: relative;

//         display: flex;
//         align-items: center;

//         &::before {
//             content: '';
//             position: absolute;
//             bottom: 0;
//             left: 50%;
//             transform: translateX(-50%);
//             width: 0;
//             height: 2px;
//             background-color: var(--blue);
//             transition: width $transitionSpeed $transitionFunction;
//         }
//         &-arrow {
//             width: 12px;
//             height: 12px;
//             fill: var(--blue);
//             margin-left: auto;

//             @media (min-width:$desktop) {
//                 display: none;
//             }
//         }

//     }
// }

// .nav-dropdown {
//     .nav__link {

//         @media (max-width:$desktop) {
//             height: auto;

//             &._spoller-active {
//                 .nav__link-arrow {
//                     transform: rotate(180deg);
//                 }
//             }
//         }
//     }

//     &__container {
//         @media (min-width:$desktop-min) {
//             padding: 12px 0 0;
//             height: 100%;
//             top: 100%;
//             left: 0;
//             transform: translateY(20px);
//             width: 100%;
//             min-height: 260px;
//             opacity: 0;
//             visibility: hidden;
//             transition: opacity $transitionSpeed $transitionFunction,
//                 visibility $transitionSpeed $transitionFunction,
//                 transform $transitionSpeed $transitionFunction;
//             position: absolute;
//             z-index: 99;
//         }

//         @media (max-width:$desktop) {
//             padding: 0;
//         }
//     }

//     @media (min-width:$desktop) {
//         &._active {
//             .nav-dropdown__container {
//                 opacity: 1;
//                 visibility: visible;
//                 transform: translateY(0);
//             }
//         }

//         &--1 {
//             .nav-dropdown-content__body {
//                 grid-template-columns: repeat(2, max-content);
//                 grid-template-rows: repeat(3, max-content);

//                 .nav-dropdown-content__item {
//                     &:nth-child(1) {
//                         grid-column: 1/2;
//                     }

//                     &:nth-child(2),
//                     &:nth-child(3) {
//                         grid-column: 1/-1;
//                     }

//                     &:nth-child(4) {
//                         grid-column: 2/3;
//                         grid-row: 1/2;
//                     }
//                 }
//             }
//         }

//         &--2 {
//             .nav-dropdown-content__body {
//                 grid-template-columns: repeat(2, max-content);
//                 grid-template-rows: repeat(2, max-content);

//                 .nav-dropdown-content__item {
//                     &:nth-child(1) {
//                         grid-column: 1/2;
//                     }

//                     &:nth-child(2) {
//                         grid-column: 2/3;
//                         grid-row: 1/2;
//                     }

//                     &:nth-child(3) {
//                         grid-column: 2/3;
//                         grid-row: 2/3;
//                     }
//                 }
//             }
//         }

//         &--3 {
//             .nav-dropdown-content__body {
//                 grid-template-columns: repeat(2, max-content);
//                 grid-template-rows: repeat(3, max-content);

//                 .nav-dropdown-content__item {
//                     &:nth-child(1) {
//                         grid-column: 1/2;
//                     }

//                     &:nth-child(2),
//                     &:nth-child(3) {
//                         grid-column: 1/-1;
//                     }

//                     &:nth-child(4) {
//                         grid-column: 2/3;
//                         grid-row: 1/2;
//                     }
//                 }
//             }
//         }
//     }

//     @media (max-width:$desktop) {
//         display: block;
//     }
// }

// .nav-dropdown-content {
//     display: flex;
//     background-color: transparent;
//     cursor: default;

//     &__card-info {
//         --width: calc(40% + 24px);
//         margin-right: 12px;
//         width: var(--width);
//         flex: 0 0 var(--width);
//         min-height: 375px;

//         @media (max-width:$desktop) {
//             margin-right: 0;
//             width: auto;
//             max-width: none;
//             height: 100%;
//             min-height: auto;
//             width: 100%;
//         }
//     }

//     &__body {
//         @media (min-width:$desktop-min) {
//             padding: 24px;
//             background-color: var(--white);
//             flex-grow: 1;
//             border-radius: 24px;
//             display: grid;
//             justify-content: space-between;
//             grid-column-gap: 16px;
//             grid-row-gap: 16px;
//         }

//         @media (max-width:$desktop) {
//             display: block;
//         }
//     }

//     &__col {}

//     &__item {
//         --size-icon: 50px;
//         display: grid;
//         grid-template-columns: var(--size-icon) 1fr;
//         grid-column-gap: 16px;
//         grid-row-gap: 4px;
//         align-items: center;
//         padding: 12px;
//         img {
//             grid-column: 1/2;
//             grid-row: 1/3;
//             width: var(--size-icon);
//             height: var(--size-icon);
//             @media (max-width:$desktop){
//                  display: none; 
//             }
//         }

//         span {
//             color: var(--dark);
//             font-size: var(--default-fz);
//             line-height: var(--default-lh);
//             font-weight: 400;

//             &:nth-child(2) {
//                 transition: color $transitionSpeed $transitionFunction;
//              @media (max-width:$desktop){
//                 text-decoration: underline; 
//              }
//             }

//             &:nth-child(3) {
//                 color: var(--primaryTwo);
//                 @media (max-width:$desktop){
//                      display: none; 
//                 }
//             }
//         }
//         &--one{
//             img{
//                 grid-row: 1/2;
//             }
//         }
//         @media (max-width:$desktop) {
//             padding: 16px 0;
//             grid-template-columns: 100%;
//             &:not(:last-child) {
//                 margin: 0;
//             }
//         }

//         @media (min-width:$desktop-min) {
//             &:hover {
//                 >span {
//                     &:nth-child(2) {
//                         color: var(--blue);
//                     }
//                 }
//             }
//         }
//     }

//     @media (max-width:$desktop) {
//         flex-direction: column;
//         margin: 0;
//         padding: 0 16px 0;
//         max-width: none;
//     }
// }
