.home {
    margin-top: 0;
    background-color: var(--stand-bg);
    padding-bottom: 24px;
    @media (max-width:$desktop) {
        padding-top: 50px;
    }

    &__title {
        display: flex;
        align-items: center;

        svg {
            width: 25px;
            height: 25px;

            @media (max-width:$smallTablet-max) {
                width: 20px;
                height: 20px;
            }
        }

        span {
            margin-left: 16px;
        }

        @media (max-width:$smallTablet-max) {
            padding: 0 16px;
        }
    }

    &__banners {}

    &__sale {
        margin-top: 48px;

        @media (max-width:$smallTablet-max) {
            margin-top: 32px;
        }
    }

    &__purchase {
        margin-top: 48px;

        @media (max-width:$smallTablet-max) {
            margin-top: 32px;
        }
    }

    &__price {
        margin-top: 48px;

        @media (max-width:$smallTablet-max) {
            margin-top: 32px;
        }
    }

    &__spec {
        margin-top: 48px;

        @media (max-width:$smallTablet-max) {
            margin-top: 32px;
        }
    }

    &__links {
        margin-top: 48px;

        @media (max-width:$smallTablet-max) {
            margin-top: 32px;
        }
    }

    &__services {
        margin-top: 48px;
        @media (max-width:$smallTablet-max) {
            margin-top: 32px;
        }
    }
}

.home-banners {
    &.container {
        @media (max-width:$smallTablet-max) {
            padding: 0;
        }
    }

    &__nav {
        position: relative;
        top: -29px;
        margin-top: -28px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: end;
        pointer-events: none;

        .nav-arrow-secondary {
            border: 1px solid var(--blue);
            pointer-events: all;

            svg {
                fill: var(--blue);
            }

            &--next {
                margin-left: 10px;
            }

            &.swiper-button-disabled {
                opacity: 0.4;
            }
        }

        @media (max-width:$smallTablet-max) {
            display: none;
        }
    }

    &__container {
        position: relative;
    }

    &__items {
        height: 100%;

        .swiper-wrapper {
            min-height: 375px;
            height: 375px;
        }

        @media (max-width:$smallTablet-max) {
            margin: 0;
            padding: 0;
        }
    }

    .main-banner {
        border-radius: 0;

        &__image {
            background-position: bottom right 20%;
        }
    }

    &__item {
        height: 100% !important; // Hack! need to be redefined swiper
    }
}

.home-stories {
    padding-top: 24px;

    &__container {
        position: relative;
    }

    &__items {
        .swiper-wrapper {
            min-height: 130px;
            height: 130px;
            max-height: 130px;
            align-items: stretch;

            .swiper-slide {
                height: auto;
                border-radius: 12px;

                img {
                    border-radius: 12px;
                    width: 100%;
                    max-height: 100%;
                    object-position: center;
                }
            }
        }
    }

    .nav-arrow-primary--prev {
        transform: translateY(-50%) translateX(-50%);
    }

    .nav-arrow-primary--next {
        transform: translateY(-50%) translateX(50%);
    }
}

.home-services {
 

    &__container {
        display: grid;
        grid-template-columns: 1fr 450px;
        grid-column-gap: 24px;
        grid-row-gap: 16px;
        @media (max-width:$desktop){
             grid-template-columns: 1fr; 
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        @media (max-width:$desktop){
           display: flex;
           flex-wrap: nowrap;
           overflow-x: auto;
           margin: 4px -16px;
           padding: 4px 16px;
           grid-column-gap: 16px;
           @include hiddenScroll;
        }
    }

    &__item {
        &--big {
            grid-column: 2 span;
        }
        @media (max-width:$desktop){
             min-width: 175px; 
        }
    }

    &__login {
        border-radius: 12px;
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        padding: 32px;
        display: flex;
        flex-direction: column;

        transition: transform .3s $transitionFunction,
            box-shadow .3s $transitionFunction;

        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                border-radius: 50%;
                --size: 80px;
                width: var(--size);
                height: var(--size);
                @media (max-width:$smallTablet-max){
                     --size: 50px; 
                }
            }
        }

        @media (min-width:$desktop-min) {
            &:hover {
                transform: translateY(-5px);
                box-shadow: var(--shadow-primary);

                .row {
                    img {
                        animation: updown .6s ease-out;
                        animation-iteration-count: 1;
                    }
                }
            }
        }

        @media (max-width:$desktop) {
            padding: 24px;
        }
    }

    &__calendar {
        border-radius: 12px;
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        padding: 24px;
    }

    &__title {
        transition: color $transitionSpeed $transitionFunction;

      @media (min-width:$desktop-min){
        &:hover {
            color: var(--blue);
        } 
      }
    }

    &__descr {
        margin-top: 24px;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        color: var(--dark);
        flex-grow: 1;
        max-width: calc(100% - 80px - 12px);
        @media (max-width:$desktop){
             max-width: calc(100% - 50px - 12px); 
        }
    }

    &__btn {
        margin-top: 24px;
    }

    &.home-services--calendar {
        .home-services__container {
            grid-template-columns: 1fr 400px;
        }
    }

    &.home-services--services-only {
        .home-services {
            &__container {
                grid-template-columns: 1fr;
            }

            &__list {
                grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
            }
        }
    }
}

.service-card {
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: var(--shadow-primary);
    padding: 24px;
    transition: transform $transitionSpeed $transitionFunction,
        box-shadow $transitionSpeed $transitionFunction;

    &__icon {
        width: 40px;
        height: 40px;
        @media (max-width:$desktop){
             width: 36px;
             height: 36px; 
        }
    }

    &__title {
        margin-top: 16px;
    }
    &--small{
        display: flex;
        align-items: center;
        .service-card{
            &__icon{
                width: 30px;
                height: 30px;
            }
            &__title{
                margin-top: 0;
             margin-right: 16px;
            }
        }
    }
    @media (min-width:$desktop-min) {
        &:hover {
            box-shadow: var(--shadow-primary);
            transform: translateY(-3px);
        }
    }
    @media (max-width:$desktop){
         padding: 16px; 
    }
}

.home-sale {

    .container {}

    &__title {
        svg {
            fill: var(--yellow);
        }
    }

    &__container {
        margin-top: 24px;

        @media (max-width:$desktop) {
            margin-top: 16px;
            padding: 0 16px;
        }
    }

    &__content {
        @media (min-width:$desktop-min) {
            padding: 32px 24px;
            border-radius: 12px;
            position: relative;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                min-height: 160px;
                height: 100%;
                width: 100%;
                z-index: 1;
                background-image: url('../img/home-sale-bg.svg');
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 12px;
            }
        }
    }

    &__subtitle {
        font-size: var(--little-big-fz);
        ;
        line-height: var(--little-big-lh);
        font-weight: 500;
        color: var(--primary600);
        position: relative;
        z-index: 2;
        max-width: percent(435, 968);

        span {
            color: var(--blue);
        }

        @media (max-width:$desktop) {
            max-width: none;
        }
    }

    &__city {
        font-weight: inherit;
        color: var(--blue);
        transition: color $transitionSpeed $transitionFunction;

        display: inline-flex;
        align-items: center;

        svg {
            margin: 2px 0 0 3px;
            width: 18px;
            height: 18px;
            fill: currentColor;
        }

      @media (min-width:$desktop-min){
        &:hover {
            color: var(--primary600);
        } 
      }
    }

    &__form {
        margin-top: 24px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;

        @media (max-width:$desktop) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__object {
        width: 300px;

        @media (max-width:$desktop) {
            width: 100%;
        }
    }

    &__price {
        width: 300px;
        margin-left: 8px;

        @media (max-width:$desktop) {
            margin-left: 0;
            margin-top: 16px;
            width: 100%;
        }

        @media (max-width:$smallTablet-max) {
            max-width: none;
        }
    }



    &__btn {
        margin-left: 8px;
        flex-grow: 1;
        display: flex;
        align-items: center;

        @media (max-width:$desktop) {
            margin-top: 24px;
            margin-left: 0;
            width: 100%;
        }

        @media (max-width:$smallTablet-max) {
            max-width: none;
        }
    }

    &__btn--maps {
        margin-right: 16px;

        svg {
            width: 18px;
            height: 18px;
            fill: currentColor;
            margin-left: 10px;
        }

        @media (max-width:$desktop) {
            margin-bottom: 16px;
            margin-right: 0;
        }
    }
}

.home-purchase {

    &__titie {}

    .container {
    }

    &__container {
        margin-top: 24px;
        background: var(--primary600);
        border-radius: 12px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: url('../img/blur.png');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 12px;
        }

        @media (max-width:$smallTablet-max) {
            margin-top: 16px;
        }
    }

    &__content {
        position: relative;
        z-index: 1;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 48px 56px;

        @media (max-width:$desktop) {
            align-items: stretch;
            padding: 24px 16px;
            flex-direction: column;
        }
    }

    &__left {
        max-width: 310px;

        @media (max-width:$desktop) {
            max-width: none;
        }
    }

    &__subtitle {
        color: var(--white);
    }

    &__text {
        margin-top: 8px;
        color: var(--white);
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        font-weight: 400;

        p {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    &__right {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr max-content;
        grid-column-gap: 18px;
        grid-row-gap: 24px;

        background-color: var(--white);
        backdrop-filter: blur(5px);
        border-radius: 16px;
        padding: 32px 24px;

        img {
            max-height: 58px;

            @media (max-width:$smallTablet-max) {
                max-height: 60px;
                margin: 0 auto;
            }
        }

        span {
            font-size: var(--default-fz);
            line-height: var(--default-lh);
            color: var(--black);
            font-weight: 500;

            @media (max-width:$smallTablet-max) {
                margin-top: 10px;
            }
        }

        .btn {
            grid-column: 1/-1;

            @media (max-width:$smallTablet-max) {
                margin-top: 24px;
            }
        }

        @media (max-width:$desktop) {
            margin-top: 24px;
            padding: 24px 16px;
        }

        @media (max-width:$smallTablet-max) {
            grid-template-columns: 1fr;
            text-align: center;
            align-items: center;
            justify-content: center;
            grid-row-gap: 0;
        }
    }

    &__bottom-btn {
        width: 100%;
        margin-top: 24px;
        padding: 0 16px;
        @media (max-width:$smallTablet-max){
            margin-top: 16px;
            width: 100%;
        }
    }
}

.home-price {

    &__title {
        @media (max-width:$smallTablet-max){
             padding: 0; 
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        @media (max-width:$smallTablet-max){
             margin-bottom: 16px; 
        }
    }

    &__more {
        margin-top: 24px;
        padding: 0 16px;

        @media (max-width:$smallTablet-max) {
        margin-top: 16px;
        width: 100%;
        }
    }

    &__nav {
        margin-left: 24px;
        display: flex;
        align-items: center;

        .nav-arrow-secondary {
            border: 1px solid var(--blue);

            svg {
                fill: var(--blue);
            }

            &--next {
                margin-left: 10px;
            }

            &.swiper-button-disabled {
                opacity: 0.4;
            }
        }

        @media (max-width:$smallTablet-max) {
            display: none;
        }
    }

    &__container {
        margin-top: 16px;
    }

    &__items {
        margin: -12px;
        padding: 12px;

        .swiper-wrapper {
            align-items: stretch;
        }

        .swiper-slide {
            height: auto;
        }

        .card-primary {
            height: 100%;
        }

        @media (max-width:$smallTablet-max) {
            margin: -16px;
            padding: 16px;
        }
    }

}

.home-spec {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        @media (max-width:$smallTablet-max){
             margin-bottom: 16px; 
        }
    }

    &__title {
        svg {
            fill: var(--yellow);
        }
        @media (max-width:$smallTablet-max){
             padding: 0; 
        }
    }

    &__more {
        margin-top: 24px;
        padding: 0 16px;

        @media (max-width:$smallTablet-max){
          margin-top: 16px;
            width: 100%;
       }
    }

    &__nav {
        margin-left: 24px;
        display: flex;
        align-items: center;

        .nav-arrow-secondary {
            border: 1px solid var(--blue);

            svg {
                fill: var(--blue);
            }

            &--next {
                margin-left: 10px;
            }

            &.swiper-button-disabled {
                opacity: 0.4;
            }
        }

        @media (max-width:$smallTablet-max) {
            display: none;
        }
    }

    .container--no-padding {
        @media (max-width:$smallTablet-max) {
            display: flex;
            flex-direction: column;
        }
    }

    &__container {
        margin-top: 16px;

        @media (max-width:$smallTablet-max) {
            margin-top: 16px;
        }
    }

    &__items {
        margin: -12px;
        padding: 12px;

        .swiper-wrapper {
            align-items: stretch;
        }

        .swiper-slide {
            height: auto;
        }

        .card-primary {
            height: 100%;
        }
        .card-agent{
            height: 100%;
        }
        @media (max-width:$smallTablet-max) {
            margin: -16px;
            padding: 16px;
        }
    }
}

.home-links {
    .container {
        @media (max-width:$smallTablet-max) {
            padding: 0;
        }
    }

    &__items {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
        grid-column-gap: 24px;
        grid-row-gap: 16px;

        @media (max-width:$desktop) {
            grid-column-gap: 16px;
            margin-top: 16px;
        }
    }
}   

.card-link {
    padding: 51px 16px 24px;
    position: relative;
    border-radius: 12px;

    &__image {
        padding-bottom: percent(134, 306);
        border-radius: 12px;

        img {
            border-radius: 12px;
        }
    }

    &__title {
        margin-top: 24px;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        font-weight: 500;
        color: var(--primary600);
    }

    &__list {
        margin-top: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px 8px;
    }

    &__link {
        color: var(--blue);
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        font-weight: 400;
        position: relative;
        transition: color $transitionSpeed $transitionFunction;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 95%;
            height: 1px;
            background-color: currentColor;
        }

        @media (min-width:$desktop-min) {
            &:hover {
                color: var(--primary500);
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('../img/link-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        z-index: -1;
    }
}
