.list-appraisers{
    .main-table__type{
        grid-template-columns: percent(300, 1132) percent(300, 1132) 1fr;
    }
    .object-info-grade{
        grid-template-columns: percent(300, 1132) percent(300, 1132) percent(500,1132);
        &__rating{
            justify-self: start;
            display: grid;
            grid-template-columns: max-content max-content;
            &--number{
                grid-column: 1/-1;
                margin: 0;
            }
        }
        .user-info{
            &__name{
                max-width: 430px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}