.main-banners {
    position: relative;

    &__container {
        border-radius: 12px;
    }

    &__item {
        height: 100% !important; // Hack! need to be redefined swiper
    }

    &__nav {
        position: absolute;
        right: calc(24px + 16px);
        bottom: calc(24px + 16px);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: end;
        pointer-events: none;

        .nav-arrow-secondary {
            border: 1px solid var(--blue);
            pointer-events: all;

            svg {
                fill: var(--blue);
            }

            &--next {
                margin-left: 10px;
            }

            &.swiper-button-disabled {
                opacity: 0.4;
            }
        }

        @media (max-width:$smallTablet-max) {
            display: none;
        }
    }
}

.main-banner {
    background-color: var(--primary100);
    border-radius: 13px;
    padding: 54px 32px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    &--one {}

    &--two {
        background-color: var(--primary600);

        .main-banner {

            &__title {
                color: var(--white);
            }

            &__descr {
                color: #E7E7E7;
            }

            &__btn {
                color: var(--gray);
                background-color: var(--white);
            }
        }

        &::before {
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('../img/banner-blur.png');
            background-size: cover;
        }
    }

    &__image {
        background-position: bottom right 20%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        @media (max-width:$desktop) {
            background-position: bottom right 0%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        height: 100%;
    }

    &__title {
        font-size: var(--big-fz);
        line-height: var(--big-lh);
        color: var(--gray);
        max-width: 220px;
    }

    &__descr {
        margin-top: 10px;
        color: var(--primaryTwo);
        font-size: var(--default-fz);
        line-height: var(--little-small-lh);
        font-weight: 400;
        max-width: 300px;
        flex-grow: 1;
    }

    &__btn {
        margin-top: 27px;
        padding: 0 27px;
        align-self: start;

        @media (max-width:$smallTablet-max) {
            padding: 0 22px;
        }
    }

    &__block {
        margin-top: 32px;
        max-width: 400px;
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        border-radius: 12px;
        padding: 16px 24px;

        .row {
            display: flex;
            &:not(:last-child){
                margin-bottom: 16px;
                padding-bottom: 16px;
                border-bottom: 1px solid var(--primary200);
            }
            &:nth-child(1) {
                justify-content: space-between;
            }

            .main-banner__btn{
                margin-top: 0;
            }
        }
    }
    &__tooltip{
        width: max-content;
        height: auto;
        .secondary-tooltip{
            &__btn{
                width: max-content;
                height: auto;
                svg {
                    width: 16px;
                    height: 16px;
                    stroke: var(--primaryTwo);
                    fill: none;
                }
                span{
                    font-size: var(--small-fz);
                    line-height: var(--small-lh);
                    margin-left: 8px;
                    color: var(--gray);
                }
            }
            &__content{
                width: max-content;
                max-width: 400px;

                top: calc(100% + 16px + 4px);
                z-index: 999;
                left: -24px;
                transform: translateX(0);
                bottom: auto;
                ._title{
                    margin-bottom: 12px;
                }
                ul{
                    margin-top: 24px;
                    li{
                        &:not(._descr) {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            span{
                                &:nth-child(2){
                                    font-weight: 500;
                                }
                            }
                        }
                        &._descr{
                            span{
                                &:nth-child(2){
                                    display: block;
                                    margin-top: 6px;
                                    color: var(--primaryTwo);
                                }
                            }
                        }
                        &:not(:last-child){
                            padding-bottom: 16px;
                            margin-bottom: 16px;
                            border-bottom: 1px solid var(--primary100);
                        }
                    }
                }
            }
        }
    }
    @media (max-width:$smallTablet-max) {
        padding: 24px 16px;
    }
}
