.mortgage {
    .top-page-inner-title {
        &__container {
            grid-row-gap: 8px;
        }

        &__title {
            grid-row: 1/2;
        }

        &__descr {
            grid-row: 2/3;
        }
    }

    .bid__container {
        grid-template-columns: 1fr percent(300, 1112);
    }

    .object-calc-mort {
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        padding: 0;

        &__list {}

        &__wrapper {
            margin-top: 24px;
            padding-top: 24px;
            border-top: 1px solid rgba(122, 127, 170, 0.2);
        }

        &__info {
            margin-top: 24px;
            padding-top: 24px;
            border-top: 1px solid rgba(122, 127, 170, 0.2);
            justify-content: space-between;
            display: flex;
            align-items: center;

            >span {
                margin: 0;
                color: var(--primaryTwo);
                font-weight: 400;
                font-size: var(--default-fz);
                line-height: var(--default-lh);
                text-align: left;

                &:not(:last-child) {
                    margin-right: 16px;
                }

                >span {
                    display: block;
                    margin-top: 10px;
                    font-weight: 500;
                    color: var(--dark);
                    margin: 0;
                    font-size: var(--default-fz);
                    line-height: var(--default-lh);
                }
            }
        }

        &__wrapper {
            &:first-child {
                margin: 0;
                padding: 0;
                border-top: none;
            }
        }

        &__bottom {
            grid-template-columns: max-content;
            justify-content: end;
            display: grid;
        }

        &__app {
            margin-top: 32px;
            padding: 0 56px;
            width: auto;

            svg {
                stroke: var(--white);
                stroke-width: 1.5px;
                fill: none;
            }
        }

        &__contribution {
            position: relative;
            margin-bottom: 56px;

            .toggle-checkbox {
                position: absolute;
                top: calc(100% + 24px);
                left: 0;
                width: max-content;
            }

            .checkbox-secondary {
                position: absolute;
                left: 0;
                top: calc(100% + 65px);
                width: max-content;
            }
        }

        &__capital {}

        &__term {}

        .input-text {
            &._clear-btn {
                .input-text__label {
                    grid-template-columns: max-content 1fr max-content 16px;
                }
            }
        }
    }

    &__suitable {
        margin-top: 24px;
    }
}


.mortgage-suitable {
    background-color: var(--white);
    box-shadow: var(--shadow-primary);
    border-radius: 12px;
    padding: 24px;
    min-width: 0;

    &__container {
        &:not(:first-child) {
            margin-top: 32px;
        }
    }

    &__list {
        margin-top: 24px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &._load {}
}

.bank-offer {
    background-color: var(--white);
    box-shadow: var(--shadow-primary);
    border-radius: 12px;
    padding: 24px;

    &__top {
        display: flex;
        align-items: center;
    }

    &__name {

        display: flex;
        align-items: center;

        >span {
            margin-left: 16px;
        }
    }

    &__icon {
        background-color: var(--white);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
    }

    &__price {
        margin-left: auto;
        margin-right: 24px;

        display: flex;
        align-items: center;

        >span {
        }

        .secondary-tooltip__content {
            min-width: 200px;
        }
    }

    &__btn {
        min-width: 100px;

        svg {
            width: 20px;
            height: 20px;

            &:nth-child(1) {
                stroke-width: 1.5px;
                stroke: var(--white);
                fill: none;
                display: block;
            }

            &:nth-child(2) {
                fill: var(--white);
                display: none;
            }
        }

        &._active {
            background-color: var(--blue);
            color: var(--white);

            @media (min-width:$desktop-min) {
                &:hover {
                    background-color: var(--blue-dark);

                    svg {
                        &:nth-child(1) {
                            display: none;
                            stroke: var(--white) !important;
                        }

                        &:nth-child(2) {
                            display: block;
                            fill: var(--white) !important;
                        }
                    }
                }
            }
        }

        &._disabled {
            opacity: 0.6;
            cursor: default;
        }
    }

    &__info {
        margin-top: 48px;

        display: grid;
        grid-auto-columns: min-content;
        grid-auto-flow: column;
        grid-column-gap: 32px;
    }

    &__info-item {
        white-space: nowrap;

        >span {
            opacity: 0.65;

            font-size: var(--default-fz);
            line-height: var(--default-lh);
        }

        >div {
            margin-top: 4px;
            display: flex;
            align-items: center;
            >div{
                display: flex;
                align-items: center;
                >span {
                    &:nth-child(1){
                        color: var(--blue);
                        font-size: var(--default-fz);
                        line-height: var(--default-lh);
                    }
                    &:nth-child(2){
                        text-decoration: line-through;
                        color: var(--primaryTwo);
                      font-size: var(--small-fz);
                      line-height: var(--small-lh);
                      margin-left: 4px;
                    }
                }
            }

            .secondary-tooltip__content {
                min-width: 200px;
                white-space: normal;
            }
        }
    }

    &__selector {
        margin-top: 32px;
    }

    &__selector-title {
 
    }

    &__selector-content {
        margin-top: 16px;
        display: flex;

        >div:nth-child(1) {
            padding-top: 13px;
            white-space: nowrap;

            p {
                &:not(:last-child) {
                    margin-bottom: 4px;
                }
            }
        }
    }

    &__selector-top {
        display: flex;
        align-items: start;
        justify-content: space-between;

        .col {
            &:nth-child(2) {
                margin-left: 24px;
            }
        }
    }

    &__selector-descr {
        margin-top: 8px;
    }

    &__selector-btn {
        margin-top: 8px;


        display: flex;
        align-items: center;
        color: var(--blue);
        font-size: var(--small-fz);
        line-height: 1;


        svg {
            margin-left: 5px;
            width: 20px;
            height: 20px;
            fill: currentColor;
            transition: transform $transitionSpeedFast $transitionFunction;
        }

        &._active {
            svg {
                transform: rotate(-180deg);
            }
        }
    }

    &__choice {
        margin-left: 24px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 8px;
        width: 100%;
    }

    &__choice-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid var(--primary200);
        border-radius: 12px;
        padding: 12px;
        opacity: 0.7;
        min-width: 140px;
        position: relative;
        cursor: pointer;
        transition: opacity $transitionSpeed $transitionFunction,
            background-color $transitionSpeed $transitionFunction,
            border $transitionSpeed $transitionFunction;

        &._active {
            opacity: 1;
            background-color: rgba(0, 150, 255, 0.08);
            border: 1px solid transparent;
        }

        .radio-primary__item {
            position: absolute;
            top: 8px;
            right: 8px;
        }

        span {
            font-size: var(--little-big-fz);
            line-height: var(--little-big-lh);

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }

    &__choice-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid var(--primary200);
        border-radius: 12px;
        padding: 12px;
        opacity: 0.7;
        min-width: 140px;
        height: 100%;
        position: relative;
        cursor: pointer;
        font-size: var(--little-big-fz);
        line-height: var(--little-big-lh);
    }

    &__additional {
        margin-top: 24px;
        padding-top: 24px;
        border-top: 1px dotted var(--primary200);
    }

    &__additional-item {
        display: flex;
        align-items: start;
        justify-content: space-between;

        &__title {}

        &__descr {
            margin-top: 8px;
        }

        &__btn {
            margin-top: 8px;


            display: flex;
            align-items: center;
            color: var(--blue);
            font-size: var(--small-fz);
            line-height: 1;


            svg {
                margin-left: 5px;
                width: 20px;
                height: 20px;
                fill: currentColor;
                transition: transform $transitionSpeedFast $transitionFunction;
            }

            &._active {
                svg {
                    transform: rotate(-180deg);
                }
            }

        }

        .col {
            &:nth-child(2) {
                margin-left: 24px;
                display: flex;
                align-items: center;

                >span {
                    margin-right: 24px;
                    transition: color $transitionSpeed $transitionFunction;

                    &._active {
                        color: var(--blue);
                    }
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px dotted var(--primary200);
        }
    }

    // &--rosbankdom {
    //     background-color: #8a0820;
    // }

    // &--alfabank {
    //     background-color: #941313;
    // }

    // &--absolutbank {
    //     background-color: #ad5215;
    // }

    // &--sberbank {
    //     background-color: #106d15;
    // }
}

.bank-offer-bid-tooltip {
    bottom: auto;
    top: calc(100% + 2px);
    left: -50px;

    padding: 24px;

    min-width: 275px !important;
    &__title {
        color: var(--white);
    }

    &__main {
        margin-top: 16px;

    }

    &__info {
        margin-top: 16px;
    }
    .row{
        display: flex;
        justify-content: space-between;
        span{
            &:nth-child(2){
                white-space: nowrap;
            }
        }
        &:not(:last-child){
            margin-bottom: 8px;
        }
    }
}


.bank-offer-selector-list {

    &__items {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 8px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 24px;

        font-size: var(--default-fz);
        line-height: var(--default-lh);

        &:nth-child(1) {
            margin-bottom: 8px;
            opacity: 0.65;
        }

        >div,
        span {
            width: 140px;
        }
    }

    &__btn {
        height: auto;
        padding: 8px 16px;
        display: flex;
        align-items: center;

        height: 42px;
        max-width: 100px;
        border-radius: 12px;
        background-color: var(--white);
        border: 1px solid var(--primary200);
        position: relative;

        span {
            font-size: var(--default-fz);
            line-height: var(--default-lh);
            font-weight: 400;
            transition: color $transitionSpeed $transitionFunction;
        }

        div {
            position: absolute;
            top: -4px;
            right: -4px;
            --size: 20px;
            width: var(--size);
            height: var(--size);
            flex: 0 0 var(--size);
            border-radius: 50%;
            background-color: var(--white);

            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: var(--shadow-secondary);

            opacity: 0;
            visibility: hidden;
            transform: translateY(2px);


            transition: opacity $transitionSpeed $transitionFunction,
                visibility $transitionSpeed $transitionFunction,
                transform $transitionSpeed $transitionFunction;

            svg {
                width: 10px;
                height: 10px;
                stroke: var(--blue);
                stroke-width: 1.5px;
                fill: none;
            }
        }
        @media (min-width:$desktop-min){
             &:hover{
                background-color: var(--blue);

                span {
                    color: var(--white);
                }
    
                div {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
             } 
        }
        &._active {
            background-color: var(--blue);

            span {
                color: var(--white);
            }

            div {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
}

.bank-offer-disabled {
    background-color: rgba(#242629, 0.12);
    box-shadow: var(--shadow-primary);
    border-radius: 12px;
    padding: 24px;
    color: var(--dark);

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__name {

        display: flex;
        align-items: center;
        opacity: 0.6;

        >span {
            margin-left: 16px;
        }
    }

    &__icon {
        background-color: var(--white);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
    }

    &__descr {
        max-width: 66%;
        opacity: 0.6;
    }
}



.mortgage-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;

    z-index: 101;

    background-color: var(--white);
    box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.1);
    padding: 12px 0;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    &__info {
        display: flex;
        align-items: center;

        >span {
            margin-left: 16px;
        }
    }

    &__images {
        display: flex;
        align-items: center;

        img {
            width: 40px;
            height: 40px;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }
}
