.mortgage {
    .top-page-inner-title {
        &__container {
            grid-row-gap: 8px;
        }

        &__title {
            grid-row: 1/2;
        }

        &__descr {
            grid-row: 2/3;
        }
    }

    .bid__container {
        grid-template-columns: 1fr percent(300, 1112);
    }

    .object-calc-mort {
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        padding: 0;

        &__list {
            margin-top: 24px;
            padding-top: 24px;
            padding-bottom: 0;
            border-bottom: none;
            border-top: 1px solid rgba(122, 127, 170, 0.2);
        }

        &__wrapper {
            margin-top: 24px;
            padding-top: 24px;
            border-top: 1px solid rgba(122, 127, 170, 0.2);
        }

        &__info {
            margin-top: 24px;
            padding-top: 24px;
            border-top: 1px solid rgba(122, 127, 170, 0.2);
            justify-content: space-between;
            display: flex;
            align-items: center;

            >span {
                margin: 0;
                color: var(--primaryTwo);
                font-weight: 400;
                font-size: var(--default-fz);
                line-height: var(--default-lh);
                text-align: left;

                &:not(:last-child) {
                    margin-right: 16px;
                }

                >span {
                    display: block;
                    margin-top: 10px;
                    font-weight: 500;
                    color: var(--dark);
                    margin: 0;
                    font-size: var(--default-fz);
                    line-height: var(--default-lh);
                }
            }
        }

        &__wrapper {
            &:first-child {
                margin: 0;
                padding: 0;
                border-top: none;
            }
        }

        &__bottom {
            grid-template-columns: max-content;
            justify-content: end;
            display: grid;
        }

        &__app {
            margin-top: 32px;
            padding: 0 56px;
            width: auto;

            svg {
                stroke: var(--white);
                stroke-width: 1.5px;
                fill: none;
            }
        }

        &__contribution {
            position: relative;
            margin-bottom: 56px;

            .toggle-checkbox {
                position: absolute;
                top: calc(100% + 24px);
                left: 0;
                width: max-content;
            }

            .checkbox-secondary {
                position: absolute;
                left: 0;
                top: calc(100% + 65px);
                width: max-content;
            }
        }

        &__capital {}

        &__term {}

        .input-text {
            &._clear-btn {
                .input-text__label {
                    grid-template-columns: max-content 1fr max-content 16px;
                }
            }
        }
    }

    &__suitable {
        margin-top: 24px;
    }
}


.mortgage-suitable {
    background-color: var(--white);
    box-shadow: var(--shadow-primary);
    border-radius: 12px;
    padding: 24px;
    min-width: 0;
    &__container{
        &:not(:first-child){
            margin-top: 32px;
        }
    }

    &__list {
        margin-top: 24px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

.bank-offer {
    background-color: var(--dark);
    box-shadow: var(--shadow-primary);
    border-radius: 12px;
    padding: 24px;
    color: var(--white);

    &__top {
        display: flex;
        align-items: center;
    }

    &__name {

        display: flex;
        align-items: center;

        >span {
            color: var(--white);
            margin-left: 16px;
        }
    }

    &__icon {
        background-color: var(--white);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
    }

    &__price {
        margin-left: auto;
        margin-right: 16px;

        display: flex;
        align-items: center;

        >span {
            color: var(--white);
        }

        .secondary-tooltip__content {
            min-width: 200px;
        }
    }

    &__btn {
        min-width: 145px;

        svg {
            width: 20px;
            height: 20px;

            &:nth-child(1) {
                stroke-width: 1.5px;
                stroke: var(--white);
                fill: none;
                display: block;
            }

            &:nth-child(2) {
                fill: var(--white);
                display: none;
            }
        }

        &._active {
            @media (min-width:$desktop-min) {
                &:hover {
                    svg {
                        &:nth-child(1) {
                            display: none;
                        }

                        &:nth-child(2) {
                            display: block;
                        }
                    }
                }
            }
        }
        &._disabled{
            opacity: 0.6;
            cursor: default;
        }
    }

    &__info {
        margin-top: 32px;

        display: grid;
        grid-auto-columns: min-content;
        grid-auto-flow: column;
        grid-column-gap: 32px;
    }

    &__info-item {
        white-space: nowrap;
        min-width: 80px;

        >span {
            opacity: 0.65;

            font-size: var(--default-fz);
            line-height: var(--default-lh);
        }

        >div {
            margin-top: 4px;
            display: flex;
            align-items: center;

            >span {
                font-size: var(--little-big-fz);
                line-height: var(--little-big-lh);
            }

            .secondary-tooltip__content {
                min-width: 200px;
                white-space: normal;
            }
        }
    }

    &__selector {
        margin-top: 32px;
        display: flex;

        >div:nth-child(1) {
            padding-top: 13px;
            white-space: nowrap;
        }
    }

    &__choice {
        margin-left: 24px;

        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 8px;
        flex-wrap: wrap;
    }

    &__choice-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid var(--primary200);
        border-radius: 12px;
        padding: 12px;
        opacity: 0.7;
        min-width: 125px;
        font-weight: 500;
        position: relative;
        cursor: pointer;

        transition: opacity $transitionSpeed $transitionFunction,
            background-color $transitionSpeed $transitionFunction,
            border $transitionSpeed $transitionFunction;

        &._active {
            opacity: 1;
            background-color: rgba(#fff, 0.35);
            border: 1px solid transparent;
        }

        .radio-primary__item {
            position: absolute;
            top: 8px;
            right: 8px;
        }
    }

    &__additional {
        margin-top: 48px;
    }

    &__additional-item {
        display: flex;
        align-items: start;
        justify-content: space-between;

        &__title {
            color: var(--white);
        }

        &__descr {
            color: var(--white);
            margin-top: 8px;
        }

        &__btn {
            margin-top: 8px;
            color: var(--blue);
        }

        .col {
            &:nth-child(2) {
                margin-left: 24px;
                display: flex;
                align-items: center;

                >span {
                    margin-right: 24px;
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px dotted var(--white);
        }
    }

    &--rosbankdom {
        background-color: #c60227;
    }

    &--alfabank {
        background-color: #df1414;
    }

    &--absolutbank {
        background-color: #ff6602;
    }

    &--sberbank {
        background-color: #0ea015;
    }
}

.bank-offer-disabled {
    background-color: rgba(#242629,0.12);
    box-shadow: var(--shadow-primary);
    border-radius: 12px;
    padding: 24px;
    color: var(--dark);

    display: flex;
    align-items: center;
    justify-content: space-between;
    &__name {

        display: flex;
        align-items: center;
        opacity: 0.6;
        >span {
            margin-left: 16px;
        }
    }

    &__icon {
        background-color: var(--white);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
    }

    &__descr {
        max-width: 66%;
        opacity: 0.6;
    }
}



.mortgage-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;

    z-index: 101;

    background-color: var(--white);
    box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.1);
    padding: 12px 0;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    &__info {
        display: flex;
        align-items: center;

        >span {
            margin-left: 16px;
        }
    }

    &__images {
        display: flex;
        align-items: center;

        img {
            width: 40px;
            height: 40px;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }
}
