.mortgage-supp{
    .create-policy-faq{
        &__wrapper{
         grid-template-columns: 1fr 282px;
        }
        &__search{
            grid-column: 1/2;
        }
        &__tags{
            grid-column: 1/2;
        }
        &__add-tags{
            grid-row: 1/4;
            align-self: start;
        }
    }
}