.mortgage-insur{
    &__table{
        .main-table{
            padding: 0;
            border-radius: 0;
            .main-table__type {
                grid-template-columns: percent(300, 1084) percent(250, 1084) 1fr;
                grid-column-gap: 32px;
                margin: 0 24px;
                span{
                    margin: 0;
                }
            }
        }
    }
}