.present{
    &__body{
        margin-top: 24px;
        background-color: var(--stand-bg);
        padding: 24px 0;
    }
    &__content{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 350px;
        grid-column-gap: 12px;

        @media (max-width:$desktop) {
            margin-top: 8px;
            grid-template-columns: 1fr;
        }
    }
    .tabs-primary{
        &__inner{
            margin-top: 0;
        }
        &__container{
            margin-top: 0;
        }
    }
    &__item{
        &:not(:first-child){
            padding-top: 8px;
        }
    }
}

.present-item{
    &__date{
        padding: 12px 0;
        font-size: var(--default-small-fz);
        color: var(--primaryTwo);
    }
    &__card{
        padding: 12px 0;
    }
}