.sale-dynamic {
    &__container{
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        padding: 32px;
        border-radius: 12px;
    }
    &__title {}

    &__text {
        margin-top: 12px;

        p {
            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }

    &__tabs {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }

    &__form {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 300px;
        grid-column-gap: 12px;

        .select-secondary__wrapper {
            background-color: var(--white);
        }
    }

    &__info {
        grid-column: 1/-1;
        margin-top: 24px;
        margin-bottom: 32px;
        display: grid;
        align-items: center;
        grid-template-columns: max-content max-content;
        grid-column-gap: 24px;
        grid-row-gap: 16px;
    }

    &__wrapper {
        margin-top: 24px;
    }

    &__value {
        display: flex;
        align-items: center;
        gap: 12px;

        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        padding: 16px;
        border-radius: 12px;
    }

    &__value-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;

        span {
            font-weight: 500;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 240px;
    }
}

.dynamic-section {
    display: flex;
    flex-direction: column;
    &__wrapper {
        height: calc(344px + 32px);
        position: relative;

        display: flex;
    }

    &__svg {
        width: 100%;
        height: calc(150px + 32px);
        position: absolute;
        overflow: hidden;
        pointer-events: none;
    }
    &__canvas{
        max-height: calc(150px + 32px);
        width: 100% !important;
    }
    &__info {
        margin-top: 24px;
        color: var(--primaryTwo);
    }

    &__item {
        width: 100%;
    }

}


.dynamic-section-item {
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    &__tooltip {
        display: none;
        position: absolute;
        width: max-content;
        max-width: 450px;

        background-color: var(--white);
        box-shadow: 0 10px 32px rgba(40, 45, 60, .02), 0 2px 24px rgba(40, 45, 60, .02), 0 0 16px rgba(40, 45, 60, .04);
        border-radius: 10px;
        color: var(--dark);
        padding: 20px;
        text-align: left;
        z-index: 99;

        flex-direction: column;
        gap: 8px;
        span{
            display: block;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: end;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 32px);
        opacity: 0.65;
        background-color: var(--blue);
        border-radius: 12px;
        &::before{
            content: attr(data-diagram-value);
            font-size: 12px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            transform: translateY(calc(-100% - 6px));
        }
    }
    &__date{
        margin-top: 8px;
        margin-bottom: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        font-size: 12px;
    }
    &._active {
        background-color: var(--primary100);

        .dynamic-section-item {
            &__tooltip {
                display: flex;

            }
            &__bottom{
                opacity: 0.85;
            }
        }
    }
}
