<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="atb" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/atb.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                   
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="alfa" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/alfa.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <div class="bank-offer__field tw-ml-auto tw-mr-8">
                <button type='button' class='btn btn-reset tw-flex tw-items-center tw-gap-2' data-tooltip-add-selector="max-w-320" data-tooltip-mobile-popup data-tooltip-html='
                Это примерная сумма вашего бонуса. Когда сделка будет заключена, вы увидите итоговую сумму
                '>
                <span class='text-lightgray tw-pointer-events-none bank-offer__field-name'>Ваш кэшбэк</span>
                <svg class='tw-pointer-events-none info-svg'>
                    <use xlink:href="./img/sprite.svg#info"></use>
                </svg>
            </button>
            <div class='bank-offer__field-value _big'>
                ~ <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </div>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <ul class="bank-offer__info list-reset">
        <div class="bank-offer__field">
            <span class='bank-offer__field-name'>Ставка</span>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
        </div>
        <div class="bank-offer__field">
            <span class='bank-offer__field-name'>Срок</span>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
        </div>
        <div class="bank-offer__field">
            <span class='bank-offer__field-name'>Сумма</span>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="sum">XX XXX</span>
            </div>
        </div>
        <div class="bank-offer__field">
            <span class='bank-offer__field-name'>Платёж</span>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
        </div>
    </ul>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">

                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="bars" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/bars.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="vbrr" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/vbrr.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">

                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="zenit" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/zenit.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="gasprom" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/gasprom.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                  
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>


<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="domrf" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/domrf.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                  
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="kuban" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/kuban.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                   
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>


<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="mts" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/mts.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">

                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="novik" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/novik.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                   
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="prom" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/prom.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                   
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="rnkb" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/rnkb.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                  
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="rossel" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/rossel.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                   
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>
<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="sankt-peterburg" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/sankt-peterburg.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                   
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>



<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="sber" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/sber.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                 
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>


<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="sovkom" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/sovkom.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                 
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="tinkoff" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/tinkoff.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                   
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="ural" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/ural.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                   
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>


<li class='@classes bank-offer' data-bank-offer-prc="1" data-bank-offer-name="uralsib" data-bank-offer-cashback="0">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/uralsib.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>X</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">

                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>