<li class='@classes bank-offer' data-bank-offer-cashback="0.5">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/atb.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>14%</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                    <div class="bank-offer__additional-item">
                        <div>
                            <h3 class="title-4">
                                Регистрация и рассчёты
                            </h3>
                            <div class="tw-mt-2 title-5 bank-offer__more" hidden>
                                <p>
                                    Услуга позволяет зарегистрировать переход права собственности за один визит в банк, провести денежные расчёты онлайн, а
                                    также
                                    получить скидку на ставку на весь срок кредита. Стоимость — до 15 300 руб.
                                </p>
                            </div>
                            <button type="button" class="btn btn-reset bank-offer__more-btn">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="col">
                            <span>-0,3%</span>
                            <label class="toggle-checkbox">
                                <input type="checkbox" name="toggle-2" checked data-bank-offer-input-down="0.3">
                                <div aria-hidden="true"></div>
                            </label>
                        </div>
                    </div>
                    <div class="bank-offer__additional-item">
                        <div>
                            <h3 class="title-4">
                                ДомкликПлюс
                            </h3>
                            <div class="tw-mt-2 title-5 bank-offer__more" hidden>
                                <p>
                                    Услуга позволяет зарегистрировать переход права собственности за один визит в банк, провести денежные расчёты онлайн, а
                                    также
                                    получить скидку на ставку на весь срок кредита. Стоимость — до 15 300 руб.
                                </p>
                            </div>
                            <button type="button" class="btn btn-reset bank-offer__more-btn">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="col">
                            <span>-0,3%</span>
                            <label class="toggle-checkbox">
                                <input type="checkbox" name="toggle-2" data-bank-offer-input-down="0.3">
                                <div aria-hidden="true"></div>
                            </label>
                        </div>
                    </div>
                    <div class="bank-offer__additional-item">
                        <div>
                            <h3 class="title-4">
                                Текущий зарплатник
                            </h3>
                            <div class="tw-mt-2 title-5 bank-offer__more" hidden>
                                <p>
                                    Скидка 1% при наличии зарплатной карты у клиента
                                </p>
                            </div>
                            <button type="button" class="btn btn-reset bank-offer__more-btn">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="col">
                            <span>-0,3%</span>
                            <label class="toggle-checkbox">
                                <input type="checkbox" name="toggle-2" checked data-bank-offer-input-down="0.3">
                                <div aria-hidden="true"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-cashback="1">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/alfa.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>7%</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                    <div class="bank-offer__additional-item">
                        <div>
                            <h3 class="title-4">
                                Регистрация и рассчёты
                            </h3>
                            <div class="tw-mt-2 title-5 bank-offer__more" hidden>
                                <p>
                                    Услуга позволяет зарегистрировать переход права собственности за один визит в банк, провести денежные расчёты онлайн, а
                                    также
                                    получить скидку на ставку на весь срок кредита. Стоимость — до 15 300 руб.
                                </p>
                            </div>
                            <button type="button" class="btn btn-reset bank-offer__more-btn">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="col">
                            <span>-0,3%</span>
                            <label class="toggle-checkbox">
                                <input type="checkbox" name="toggle-2" checked data-bank-offer-input-down="0.3">
                                <div aria-hidden="true"></div>
                            </label>
                        </div>
                    </div>
                    <div class="bank-offer__additional-item">
                        <div>
                            <h3 class="title-4">
                                ДомкликПлюс
                            </h3>
                            <div class="tw-mt-2 title-5 bank-offer__more" hidden>
                                <p>
                                    Услуга позволяет зарегистрировать переход права собственности за один визит в банк, провести денежные расчёты онлайн, а
                                    также
                                    получить скидку на ставку на весь срок кредита. Стоимость — до 15 300 руб.
                                </p>
                            </div>
                            <button type="button" class="btn btn-reset bank-offer__more-btn">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="col">
                            <span>-0,3%</span>
                            <label class="toggle-checkbox">
                                <input type="checkbox" name="toggle-2" data-bank-offer-input-down="0.3">
                                <div aria-hidden="true"></div>
                            </label>
                        </div>
                    </div>
                    <div class="bank-offer__additional-item">
                        <div>
                            <h3 class="title-4">
                                Текущий зарплатник
                            </h3>
                            <div class="tw-mt-2 title-5 bank-offer__more" hidden>
                                <p>
                                    Скидка 1% при наличии зарплатной карты у клиента
                                </p>
                            </div>
                            <button type="button" class="btn btn-reset bank-offer__more-btn">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="col">
                            <span>-0,3%</span>
                            <label class="toggle-checkbox">
                                <input type="checkbox" name="toggle-2" checked data-bank-offer-input-down="0.3">
                                <div aria-hidden="true"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-cashback="0.15">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/bars.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>7%</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-cashback="0.15">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/vbrr.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>7%</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                    <div class="bank-offer__additional-item">
                        <div>
                            <h3 class="title-4">
                                Регистрация и рассчёты
                            </h3>
                            <div class="tw-mt-2 title-5 bank-offer__more" hidden>
                                <p>
                                    Услуга позволяет зарегистрировать переход права собственности за один визит в банк, провести денежные расчёты онлайн, а
                                    также
                                    получить скидку на ставку на весь срок кредита. Стоимость — до 15 300 руб.
                                </p>
                            </div>
                            <button type="button" class="btn btn-reset bank-offer__more-btn">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="col">
                            <span>-0,3%</span>
                            <label class="toggle-checkbox">
                                <input type="checkbox" name="toggle-2" checked data-bank-offer-input-down="0.3">
                                <div aria-hidden="true"></div>
                            </label>
                        </div>
                    </div>
                    <div class="bank-offer__additional-item">
                        <div>
                            <h3 class="title-4">
                                ДомкликПлюс
                            </h3>
                            <div class="tw-mt-2 title-5 bank-offer__more" hidden>
                                <p>
                                    Услуга позволяет зарегистрировать переход права собственности за один визит в банк, провести денежные расчёты онлайн, а
                                    также
                                    получить скидку на ставку на весь срок кредита. Стоимость — до 15 300 руб.
                                </p>
                            </div>
                            <button type="button" class="btn btn-reset bank-offer__more-btn">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="col">
                            <span>-0,3%</span>
                            <label class="toggle-checkbox">
                                <input type="checkbox" name="toggle-2" data-bank-offer-input-down="0.3">
                                <div aria-hidden="true"></div>
                            </label>
                        </div>
                    </div>
                    <div class="bank-offer__additional-item">
                        <div>
                            <h3 class="title-4">
                                Текущий зарплатник
                            </h3>
                            <div class="tw-mt-2 title-5 bank-offer__more" hidden>
                                <p>
                                    Скидка 1% при наличии зарплатной карты у клиента
                                </p>
                            </div>
                            <button type="button" class="btn btn-reset bank-offer__more-btn">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="col">
                            <span>-0,3%</span>
                            <label class="toggle-checkbox">
                                <input type="checkbox" name="toggle-2" checked data-bank-offer-input-down="0.3">
                                <div aria-hidden="true"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>

<li class='@classes bank-offer' data-bank-offer-cashback="0.15">
    <div class="bank-offer__top">
        <div class="bank-offer__logo">
            <img loading="lazy" src="./img/banks/zenit.png" alt="АТБ" width="45" height="45" data-bank-offer-logo>
        </div>
        <ul class="bank-offer__info list-reset">
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer-new-prc hidden></span>
                <span data-bank-offer-default-prc>7%</span>
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="term">X</span> лет
            </div>
            <div class="bank-offer__item tw-text-base">
                <span data-bank-offer="payment">XX XXX</span> ₽/мес
            </div>
            <div class="bank-offer__item btn btn-reset tag tag--green _no-hover _no-select tw-max-h-[28px] tw-px-6">
                Кэшбэк&nbsp; <span data-bank-offer="cashback">XX XXX</span> &nbsp;₽
            </div>
        </ul>
        <button type="button" class="btn btn-reset btn-secondary btn-secondary--small bank-offer__btn" data-bank-offer-btn>
            Выбрать
        </button>
    </div>
    <div class="bank-offer__spollers">
        <div class="bank-offer__spoller">
            <button type='button' class='btn btn-reset bank-offer__spoller-btn'>
                <h3 class="title-4 text-blue">
                    Снизить ставку
                </h3>
                <div class="bank-offer__spoller-check">
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </div>
            </button>
            <div class="bank-offer__spoller-content" hidden>
                <div class="bank-offer__additional">
                    <div class="bank-offer__additional-item">
                        <div>
                            <h3 class="title-4">
                                Регистрация и рассчёты
                            </h3>
                            <div class="tw-mt-2 title-5 bank-offer__more" hidden>
                                <p>
                                    Услуга позволяет зарегистрировать переход права собственности за один визит в банк, провести денежные расчёты онлайн, а
                                    также
                                    получить скидку на ставку на весь срок кредита. Стоимость — до 15 300 руб.
                                </p>
                            </div>
                            <button type="button" class="btn btn-reset bank-offer__more-btn">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="col">
                            <span>-0,3%</span>
                            <label class="toggle-checkbox">
                                <input type="checkbox" name="toggle-2" checked data-bank-offer-input-down="0.3">
                                <div aria-hidden="true"></div>
                            </label>
                        </div>
                    </div>
                    <div class="bank-offer__additional-item">
                        <div>
                            <h3 class="title-4">
                                ДомкликПлюс
                            </h3>
                            <div class="tw-mt-2 title-5 bank-offer__more" hidden>
                                <p>
                                    Услуга позволяет зарегистрировать переход права собственности за один визит в банк, провести денежные расчёты онлайн, а
                                    также
                                    получить скидку на ставку на весь срок кредита. Стоимость — до 15 300 руб.
                                </p>
                            </div>
                            <button type="button" class="btn btn-reset bank-offer__more-btn">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="col">
                            <span>-0,3%</span>
                            <label class="toggle-checkbox">
                                <input type="checkbox" name="toggle-2" data-bank-offer-input-down="0.3">
                                <div aria-hidden="true"></div>
                            </label>
                        </div>
                    </div>
                    <div class="bank-offer__additional-item">
                        <div>
                            <h3 class="title-4">
                                Текущий зарплатник
                            </h3>
                            <div class="tw-mt-2 title-5 bank-offer__more" hidden>
                                <p>
                                    Скидка 1% при наличии зарплатной карты у клиента
                                </p>
                            </div>
                            <button type="button" class="btn btn-reset bank-offer__more-btn">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="col">
                            <span>-0,3%</span>
                            <label class="toggle-checkbox">
                                <input type="checkbox" name="toggle-2" checked data-bank-offer-input-down="0.3">
                                <div aria-hidden="true"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-reset title-4 text-blue bank-offer__close">
                    Свернуть
                    <svg>
                        <use xlink:href="./img/sprite.svg#check"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</li>