<header class="header header--new">
    <div class="header__top header-top">
        <div class="header-top__container container">
            <button class="header-top__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                <span class="burger__line"></span>
            </button>
            <div class="header-top__city city" data-da=".header-main__nav,1212,3">
                <button type="button" class="btn btn-reset city__title" data-popup-path="city">
                    <svg>
                        <use xlink:href="img/sprite.svg#location-fill"></use>
                    </svg>
                    <span class="city__name">Краснодар</span>
                    <p class="city__descr">
                        Изменить
                    </p>
                </button>
            </div>
            <div class="header-top__actions">
                <div class="header-top__action header-action header-action--add">
                    <button type="button" data-popup-path="add" class="btn btn-reset header-action__title">
                        <svg>
                            <use xlink:href="img/sprite.svg#add"></use>
                        </svg>
                        <span class="header-action__name">
                            Добавить
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="header__main header-main">
        <div class="header-main__container container">
            <a href="#" class="header-main__logo logo" data-da=".header-top__container,1212,1">
                <img loading="lazy" src="./img/logo.svg" width="238" height="32" class="logo__img" alt="Продам.Онлайн">
            </a>
            <button type="button" class="btn btn-reset btn-secondary header-main__menu">
                <svg width="24" height="24" viewBox="-3 -7 24 24" fill="#000" xmlns="http://www.w3.org/2000/svg"><path xmlns="http://www.w3.org/2000/svg" d="M0 0H18V2H0V0ZM0 4H18V6H0V4ZM0 8H18V10H0V8Z"></path>
                </svg>
                Меню
            </button>
            <div class="city-popup__input" style="margin: 0;">
                <button type="button" class="btn btn-reset">
                    <svg>
                        <use xlink:href="./img/sprite.svg#search"></use>
                    </svg>
                </button>
                <input type="search" name="Название города" class="input-reset" placeholder="Введите название города">
                <button type="button" class="btn btn-reset city-popup__clear" hidden="">
                    <svg>
                        <use xlink:href="./img/sprite.svg#x"></use>
                    </svg>
                </button>
            </div>
            <div class="header-top__actions">
                <div class="header-top__action header-action header-action--calendar secondary-tooltip secondary-tooltip--dark secondary-tooltip--bottom-center">
                    <button type="button" class="btn btn-reset header-action__title secondary-tooltip__btn">
                        <svg>
                            <use xlink:href="img/sprite.svg#calendar"></use>
                        </svg>
                    </button>
                    <div class="secondary-tooltip__content">
                        Календарь
                    </div>
                </div>
                <div class="header-top__action header-action header-action--chat secondary-tooltip secondary-tooltip--dark secondary-tooltip--bottom-center">
                    <button type="button" class="btn btn-reset header-action__title secondary-tooltip__btn">
                        <svg>
                            <use xlink:href="img/sprite.svg#chat"></use>
                        </svg>
                    </button>
                    <div class="secondary-tooltip__content">
                        Чат
                    </div>
                </div>
            </div>
            <div class="header-top__personal header-personal">
                <button type="button" class="btn btn-reset header-personal__title" data-popup-path="personal-area-two">
                    <svg>
                        <use xlink:href="img/sprite.svg#door-open"></use>
                    </svg>
                    <span class="header-personal__name">
                        Кабинет
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="header__nav nav">
        <div class="nav__container container">
            <ul class="nav__menu nav-menu list-reset">
                <li class="nav-menu__item _dropdown" data-nav-dropdown-target="1">
                    <a href="#">Новостройки</a>
                </li>
                <li class="nav-menu__item _dropdown"  data-nav-dropdown-target="2">
                    <a href="#">Покупка</a>
                </li>
                <li class="nav-menu__item _static">
                    <a href="#">Лента</a>
                </li>
            </ul>
            <div class="nav__content nav-content">
                <div class="nav-content__body" data-nav-dropdown-content="1">
                    <h3 class="nav-content__title title-3">Новостройки</h3>
                    <a href="./mortgage.html" class="nav-content__item">
                        <img loading="lazy" src="./img/flat.svg" alt="Ипотека">
                        <span>Ипотека</span>
                    </a>
                    <a href="#" class="nav-content__item">
                        <img loading="lazy" src="./img/flat.svg" alt="Ипотечное страхование">
                        <span>Ипотечное страхование</span>
                    </a>
                    <a href="#" class="nav-content__item">
                        <img loading="lazy" src="./img/flat.svg" alt="Оценка недвижимости для ипотеки">
                        <span>Оценка недвижимости для ипотеки</span>
                    </a>
                    <a href="#" class="nav-content__item">
                        <img loading="lazy" src="./img/flat.svg" alt="Юридическая проверка">
                        <span>Юридическая проверка</span>
                    </a>
                </div>
                <div class="nav-content__body" data-nav-dropdown-content="2">
                    <h3 class="nav-content__title title-3">Покупка</h3>
                    <a href="./mortgage.html" class="nav-content__item">
                        <img loading="lazy" src="./img/flat.svg" alt="Ипотека">
                        <span>Ипотека</span>
                    </a>
                    <a href="#" class="nav-content__item">
                        <img loading="lazy" src="./img/flat.svg" alt="Ипотечное страхование">
                        <span>Ипотечное страхование</span>
                    </a>
                    <a href="#" class="nav-content__item">
                        <img loading="lazy" src="./img/flat.svg" alt="Оценка недвижимости для ипотеки">
                        <span>Оценка недвижимости для ипотеки</span>
                    </a>
                    <a href="#" class="nav-content__item">
                        <img loading="lazy" src="./img/flat.svg" alt="Юридическая проверка">
                        <span>Юридическая проверка</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
