.title-1 {
    font-weight: 500;
    font-size: var(--very-big-fz);
    line-height: var(--very-big-lh);
    color: var(--dark);
}

.title-2 {
    font-weight: 500;
    font-size: var(--big-fz);
    line-height: var(--big-lh);
    color: var(--dark);
}
.title-3 {
    font-weight: 500;
    font-size: var(--little-big-fz);
    line-height: var(--little-big-lh);
    color: var(--dark);
}
.title-3-imp {
    font-weight: 500 !important;
    font-size: var(--little-big-fz) !important;
    line-height: var(--little-big-lh) !important;
    color: var(--dark) !important;
}

.title-4 {
    font-weight: 500;
    font-size: var(--default-fz);
    line-height: var(--default-lh);
    color: var(--dark);
}

.text-center {
    text-align: center;
}

._disabled {
    pointer-events: none;
}

._disabled-opacity {
    pointer-events: none;
    opacity: 0.5;
}

.btn-remove {
    svg {
        fill: var(--red);
        stroke: none;
        width: 20px;
        height: 20px;
    }
}
.btn-remove--gray {
    svg {
        fill: var(--primaryTwo);
    }
}

.btn-remove-imp {
    svg {
        fill: var(--red) !important;
        stroke: none !important;
        width: 20px !important;
        height: 20px !important;
    }
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeTransformX {
    0% {
        transform: translateX(6%);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes updown {
    25% {
        transform: translateY(-6px);
    }

    50% {
        transform: translateY(-12px);
    }

    75% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes leftRightSmall {
    33% {
        transform: translateY(-2px);
    }

    66% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes leftRight {
    33% {
        transform: translateX(-10px);
    }

    66% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeTransformY {
    0% {
        transform: translateY(6%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes shake_online-display {

    10%,
    90% {
        transform: rotate(-90deg) translate3d(0, -1px, 0);
    }

    20%,
    80% {
        transform: rotate(-90deg) translate3d(0, 2px, 0);
    }

    30%,
    50%,
    70% {
        transform: rotate(-90deg) translate3d(0, -4px, 0);
    }

    40%,
    60% {
        transform: rotate(-90deg) translate3d(0, 4px, 0);
    }
}

@keyframes webSkeleton {
    to {
        transform: translateX(100%)
    }
}

@keyframes flappy {

    0%,
    80%,
    to {
        transform: scale(0)
    }

    40% {
        transform: scale(1)
    }
}
@keyframes blikDots {
    0%, 33% {
      background: var(--primary100);
    }
    22% {
      background: var(--blue);
    }
  }

.flex {
    display: flex !important;
}
.justify-sb{
    justify-content: space-between !important;
}
.align-center {
    align-items: center !important;
}

.flex-row {
    flex-direction: row !important;
}

.gap-8 {
    gap: 8px !important;
}
.gap-32{
    gap: 32px !important;
}
.gap-col-32{
    column-gap: 32px !important;
}

.col-1-2 {
    grid-column: 1/2 !important;
}
.col-1-max{
    grid-column: 1/-1 !important;
}
.grid{
    display: grid !important;
}
.grid-col-auto {
    grid-column: auto !important;
}

.min-h-350 {
    min-height: 350px !important;
}

.m-l-auto {
    margin-left: auto !important;
}

.grid-c-full {
    grid-template-columns: 100% !important;
}

.mt-12{
    margin-top: 12px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.mt-24{
    margin-top: 24px !important;
}

.mb-24{
    margin-bottom: 24px !important;
}
.mb-16{
    margin-bottom: 16px !important;
}