.title-1 {
    font-weight: 500;
    font-size: var(--very-big-fz);
    line-height: var(--very-big-lh);
    color: var(--dark);
}

.title-2 {
    font-weight: 500;
    font-size: var(--big-fz);
    line-height: var(--big-lh);
    color: var(--dark);
}

.title-3 {
    font-weight: 500;
    font-size: var(--little-big-fz);
    line-height: var(--little-big-lh);
    color: var(--dark);
}

.title-4 {
    font-weight: 500;
    font-size: var(--default-fz);
    line-height: var(--default-lh);
    color: var(--dark);
}

.main-page-gap {
    margin-top: 24px;
    margin-bottom: 100px;

    @media (max-width:$desktop) {
        margin-top: 0;
        margin-bottom: 50px;
    }

    @media (max-width:$smallTablet-max) {
        margin-bottom: 0;
    }
}

.nav-arrow-primary {
    background-color: transparent;
    position: absolute;
    --size: 36px;
    width: var(--size);
    height: var(--size);
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;

    transition: opacity $transitionSpeed $transitionFunction,
        transform $transitionSpeed $transitionFunction,
        visibility $transitionSpeed $transitionFunction;

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--white);
        border-radius: 50%;
        transition: box-shadow $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;
    }

    svg {
        width: 20px;
        height: 20px;
        fill: rgba(22, 22, 22, 0.5);
        transition: fill $transitionSpeed $transitionFunction;
    }

    @media (min-width:$desktop-min) {
        &:hover {
            svg {
                fill: rgba(22, 22, 22, 1);
            }

            .nav-arrow-primary__wrapper {
                box-shadow: 0 7px 14px rgba(11, 31, 53, 0.15);
                transform: scale(1.15);
            }
        }
    }


    cursor: pointer;

    &:disabled {
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-50%) scale(0.75);
    }


    &--prev {
        left: 12px;

        svg {
            transform: rotate(180deg);
        }
    }

    &--next {
        right: 12px;
    }

    &--two {

        .nav-arrow-primary__wrapper {
            box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 0 2px 8px rgba(0, 0, 0, .08);
        }

        @media (min-width:$desktop-min) {
            &:hover {
                .nav-arrow-primary__wrapper {
                    box-shadow: var(--shadow-black-big);
                }
            }
        }
    }
}

.nav-arrow-secondary {
    border-radius: 8px;
    border: 1px solid var(--blue);
    background-color: var(--white);
    --size: 28px;
    width: var(--size);
    height: var(--size);
    flex: 0 0 var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;

    transition: border $transitionSpeed $transitionFunction;

    svg {
        width: 20px;
        height: 20px;
        fill: var(--blue);
        transition: fill $transitionSpeed $transitionFunction;
    }

    @media (min-width:$desktop-min) {
        &:hover {
            border: 1px solid var(--blue);

            svg {
                fill: var(--blue);
            }
        }
    }

    &:active {
        border: 1px solid var(--blue);

        svg {
            fill: var(--blue);
        }
    }

    cursor: pointer;

    &.swiper-button-disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    &._disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    &--prev {
        left: 12px;

        svg {
            transform: rotate(180deg);
        }
    }

    &--next {
        right: 12px;
    }
}

.pagination-primary {
    position: absolute;
    bottom: 24px;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    width: auto;

    background: rgba(22, 22, 22, 0.7);
    border-radius: 9px;

    padding: 4px 10px 5px;

    color: var(--white);
    font-size: var(--small-fz);
    line-height: var(--small-lh);
    font-weight: 500;


    display: flex;
    align-items: center;

    .swiper-pagination-word {
        margin: 0 4px;
    }
}


.object-gallery-preview {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;

    opacity: 0;
    visibility: hidden;

    transition: opacity $transitionSpeed $transitionFunction,
        visibility $transitionSpeed $transitionFunction;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(22, 22, 22, 0.4);
        border-radius: 12px;
        z-index: 1;
    }

    &__icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: var(--white);
        backdrop-filter: blur(2px);

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        transform: translateY(5px);
        transition: transform $transitionSpeed $transitionFunction;

        svg {
            width: 16px;
            height: 16px;
            fill: rgba(22, 22, 22, 0.5);
        }
    }

    span {
        margin-top: 5px;

        font-size: var(--small-fz);
        line-height: var(--small-lh);
        font-weight: 500;
        color: var(--white);
        position: relative;
        z-index: 1;

        transform: translateY(5px);

        transition: transform $transitionSpeed $transitionFunction;
    }
}


.top-page-inner-title {
    padding-bottom: 24px;

    @media (max-width:$desktop) {
        justify-content: space-between;
        background-color: var(--white);
        padding-top: 0;
        padding-bottom: 0;
        height: 54px;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;

        .top-page-inner-title__title {
            display: none;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-column-gap: 24px;
        grid-row-gap: 16px;

        @media (max-width:$desktop) {
            height: 100%;
            align-items: center;

        }

    }

    &__back {
        grid-column: 1/2;
        grid-row: 1/2;

        @media (max-width:$desktop) {
            grid-column: auto;
            grid-row: auto;
        }
    }

    &__title {
        grid-column: 1/2;
        grid-row: 2/3;

        @media (max-width:$desktop) {
            grid-column: auto;
            grid-row: auto;
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    &__descr {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    &__btns {
        justify-self: end;
        align-self: end;
        display: flex;
        align-items: center;
        grid-column: 2/3;
        grid-row: 2/3;

        @media (max-width:$desktop) {
            grid-row: auto;
            grid-column: auto;
            align-self: auto;
            justify-self: end;
        }
    }

    &__btn {
        &:not(:last-child) {
            margin-right: 2px;

            @media (max-width:$desktop) {
                margin-right: 24px;
            }
        }
    }

    @media (max-width:$desktop) {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
}

.top-page-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__back {}

    &__btns {
        display: flex;
        align-items: center;
    }

    &__btn {
        &:not(:last-child) {
            margin-right: 2px;
        }
    }

    @media (max-width:$desktop) {
        box-shadow: var(--shadow-secondary);
        display: none;
    }

}

._shadow-centered {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        border-radius: 12px;
        z-index: 1;
    }

    span {
        font-weight: 500;
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        color: var(--white);
        position: relative;
        z-index: 1;
    }
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeTransformX {
    0% {
        transform: translateX(6%);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes updown {
    25% {
        transform: translateY(-6px);
    }

    50% {
        transform: translateY(-12px);
    }

    75% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes leftRightSmall {
    33% {
        transform: translateY(-2px);
    }

    66% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeTransformY {
    0% {
        transform: translateY(6%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes shake_online-display {

    10%,
    90% {
        transform: rotate(-90deg) translate3d(0, -1px, 0);
    }

    20%,
    80% {
        transform: rotate(-90deg) translate3d(0, 2px, 0);
    }

    30%,
    50%,
    70% {
        transform: rotate(-90deg) translate3d(0, -4px, 0);
    }

    40%,
    60% {
        transform: rotate(-90deg) translate3d(0, 4px, 0);
    }
}



.map-metro {
    position: relative;
    width: 100%;
    height: 100%;

    &__container {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        min-height: var(--vh);
        margin-top: -40px;
        z-index: -1;
    }

    &__map {
        will-change: scale;

        * {
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none
        }

        svg {
            overflow: visible;
            padding: 110px 90px 230px;

            >g {
                transition-timing-function: linear
            }
        }
    }

    &__stop {
        &.map-metro_hover {
            .map-metro__circle {
                stroke-width: 3;
                r: 11;
            }
        }

        &.map-metro_select {
            .map-metro__circle {
                fill: var(--white);
                stroke: var(--blue);
            }
        }
    }

    &__station-item {
        &.map-metro_hover {
            .map-metro__text {
                fill: var(--red);
            }
        }

        &.map-metro_select {
            .map-metro__bg {
                opacity: 1;
            }

            .map-metro__text {
                fill: var(--white);
            }
        }
    }


    .map-metro__bg {
        transition: opacity $transitionSpeed $transitionFunction;
    }

    .map-metro__stop {
        cursor: pointer;
    }

    .map-metro__station-item .map-metro__text {
        transition: fill $transitionSpeed $transitionFunction;
    }

    .map-metro__stop .map-metro__circle {
        transition: r $transitionSpeed $transitionFunction,
            stroke-width $transitionSpeed $transitionFunction,
            fill $transitionSpeed $transitionFunction,
            stroke $transitionSpeed $transitionFunction;
    }

    .map-metro__stop.map-metro_hover {
        .MetroMap_circle {
            stroke-width: 3;
            r: 11;
        }
    }

    .map-metro__transit-group {
        &.map-metro_hover {
            .map-metro__circle {
                stroke-width: 3;
                r: 11;
            }
        }

        &.map-metro_select {
            .map-metro__circle {
                fill: var(--white);
                stroke: var(--blue);
            }
        }
    }

}

.system-setup {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    border-radius: 12px !important;
    gap: 12px;

    &__item {}
}

.system-setup-item {
    background-color: var(--white);
    border: 1px solid var(--primary100);
    min-width: 200px;
    height: 200px;

    max-width: 300px;


    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
}


.types-objects {
    margin-top: 32px;
    background-color: var(--stand-bg);

    &__item {
        box-shadow: var(--shadow-secondary) !important;

        >div {
            display: flex;
            align-items: center;

            &:nth-child(1) {
                svg {
                    transform: rotate(90deg);
                    margin-right: 8px;
                    fill: var(--blue);
                }
            }

            &:last-child {
                display: flex;
                align-items: center;

                button,
                a {
                    &:not(:last-child) {
                        margin-right: 16px;
                    }

                    &:nth-child(1) {
                        svg {
                            fill: var(--blue);
                        }
                    }

                    &:nth-child(2) {
                        svg {
                            fill: var(--red);
                        }
                    }
                }
            }
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.groups {
    margin-top: 32px;
    background-color: var(--stand-bg);

    .main-table {
        &__type {
            justify-content: start;
            margin: 0 24px;
            grid-column-gap: 20px;

            span {
                margin: 0;
            }
        }
    }

    &__item {
        box-shadow: var(--shadow-secondary) !important;

        >div {
            display: flex;
            align-items: center;

            &:nth-child(1) {
                svg {
                    transform: rotate(90deg);
                    margin-right: 8px;
                    fill: var(--blue);
                }
            }

            &:last-child {
                display: flex;
                align-items: center;

                button,
                a {
                    &:not(:last-child) {
                        margin-right: 16px;
                    }

                    &:nth-child(1) {
                        svg {
                            fill: var(--blue);
                        }
                    }

                    &:nth-child(2) {
                        svg {
                            fill: var(--red);
                        }
                    }
                }
            }
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.employees {
    .main-table {
        &__type {
            justify-content: start;
            margin: 0 24px;
            grid-column-gap: 20px !important;

            span {
                margin: 0;
            }
        }
    }

    .object-info-grade {
        grid-column-gap: 20px;

        .user-info {
            grid-template-columns: 45px 1fr;
        }

        >div {
            &:last-child {
                display: flex;
                align-items: center;

                button,
                a {
                    &:not(:last-child) {
                        margin-right: 16px;
                    }

                    &:nth-child(1) {
                        svg {
                            fill: var(--blue);
                        }
                    }

                    &:nth-child(2) {
                        svg {
                            stroke: var(--blue);
                            fill: none;
                            stroke-width: 1.5px;
                        }
                    }

                    &:nth-child(3) {
                        svg {
                            fill: var(--red);
                        }
                    }
                }

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .filter__row{
        grid-column-gap: 8px;
        grid-template-columns: 0.6fr 0.6fr 1fr; 
    }
}

.create-types-objects {
    &__title {
        span {
            color: var(--primaryTwo);
            font-weight: 500;
            font-size: var(--default-fz);
            line-height: var(--default-lh);
        }
    }

    .place-sale-options__row--1 {}

    .place-sale-options__row--2 {
        grid-template-columns: max-content max-content;
        justify-content: start;
        grid-column-gap: 32px;
    }

    .place-sale-photo {
        margin-top: 32px;
    }

    .main-table {
        &__type {
            justify-content: start;
            margin: 0 24px;
            grid-column-gap: 20px;

            span {
                margin: 0;
            }
        }
    }
}
.banks{
    .main-table{
        margin-top: 32px;
        background-color: var(--stand-bg);
    }
}
.access-rights {
    .main-table {
        &__type {
            grid-column-gap: 0;
            align-items: end;
          >span{
            &:nth-child(2){
                padding-left: 20px;
            }
          }
          >div{
            padding-left: 20px;
            color: var(--primaryTwo);
            font-size: var(--very-small-fz);
            line-height: var(--very-small-lh);
            font-weight: 400;
           span{
            writing-mode: vertical-lr; 
            text-orientation: upright; 
            text-align: right;
            &:not(:last-child){
                margin-right: 26px;
            }
           }
          }
        }
    }

    &__item {
        width: 100%;
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        border-radius: 16px;
        color: var(--dark);
        display: grid;
        grid-template-columns: 20% 15% 1fr;
        justify-content: start;
        align-items: start;
        padding: 32px 24px;
        -webkit-tap-highlight-color: transparent;
        transition: box-shadow $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;

        >span,
        >div {
            height: 100%;

            &:nth-child(1),
            &:nth-child(2) {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: -32px;
                    right: 0;
                    background-color: var(--primary200);
                    width: 1px;
                    height: calc(100% + (32px*2));
                }
            }

            &:nth-child(2) {
                padding-left: 20px;
                span {
                    height: 24px;
                }
            }

            &:last-child {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 16px;
                overflow-x: auto;
                padding-left: 20px;
                .checkbox-secondary__label {
                    align-items: flex-start;

                    &::before{
                        width: 24px;
                        height: 24px;
                    }
                    &::after{
                        width: 24px;
                        height: 24px;
                    }
                }

                .row {
                    display: flex;
                    gap: 16px;
                    height: 24px;
                }
            }
        }
    }
}

.view-types-objects {
    &__title {
        span {
            color: var(--primaryTwo);
            font-weight: 500;
            font-size: var(--default-fz);
            line-height: var(--default-lh);
        }
    }

    .place-sale-options__row--2 {
        grid-template-columns: max-content max-content;
        justify-content: start;
        grid-column-gap: 32px;
    }

    .place-sale-photo {
        margin-top: 32px;
    }

    .types-objects__item {
        >div {
            &:last-child {

                button,
                a {
                    &:nth-child(1) {
                        svg {
                            stroke: var(--blue);
                            fill: none;
                            stroke-width: 1.5px;
                        }
                    }

                    &:nth-child(2) {
                        svg {
                            stroke: none;
                            fill: var(--red);
                        }
                    }
                }
            }
        }
    }

    .tabs-primary__container {
        background-color: transparent;
        margin-top: 48px !important;
    }


    .main-table {
        &__type {
            justify-content: start;
            margin: 0 24px;
            grid-column-gap: 20px;

            span {
                margin: 0;
            }
        }

        .types-objects__item {
            >div {
                &:last-child {
                    display: flex;
                    align-items: center;

                    button,
                    a {
                        &:not(:last-child) {
                            margin-right: 16px;
                        }


                        &:nth-child(1) {
                            svg {
                                fill: none;
                                stroke-width: 1.5px;
                                stroke: var(--blue);
                            }
                        }

                        &:nth-child(2) {
                            svg {
                                fill: var(--red);
                            }
                        }
                    }
                }
            }
        }
    }

}


.edit-types-objects {
    &__title {
        span {
            color: var(--primaryTwo);
            font-weight: 500;
            font-size: var(--default-fz);
            line-height: var(--default-lh);
        }
    }

    .place-sale-options__row--2 {
        grid-template-columns: max-content max-content;
        justify-content: start;
        grid-column-gap: 32px;
    }

    .place-sale-photo {
        margin-top: 32px;
    }

    .types-objects__item {
        >div {
            &:last-child {

                button,
                a {
                    &:nth-child(1) {
                        svg {
                            stroke: var(--blue);
                            fill: none;
                            stroke-width: 1.5px;
                        }
                    }

                    &:nth-child(2) {
                        svg {
                            stroke: none;
                            fill: var(--red);
                        }
                    }
                }
            }
        }
    }


    .main-table {
        &__type {
            justify-content: start;
            margin: 0 24px;
            grid-column-gap: 20px;

            span {
                margin: 0;
            }
        }
    }
}

.tags-stickers {
    .types-objects__item {
        >div {
            &:last-child {

                button,
                a {
                    &:nth-child(1) {
                        svg {
                            stroke: var(--blue);
                            fill: none;
                            stroke-width: 1.5px;
                        }
                    }

                    &:nth-child(2) {
                        svg {
                            stroke: none;
                            fill: var(--red);
                        }
                    }
                }
            }
        }
    }
}

.place-sale-layouts {
    >.row {
        &:nth-child(1) {
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .place-sale__row-title {
        margin-bottom: 0;
    }

    .room-info-card {
        grid-template-columns: calc(85px + 50px) 25% 30% 16.7% 8.55%;
        grid-column-gap: 20px;

        &:first-child {
            border-top: none !important;
        }

        border-bottom: 1px solid var(--primary100);

        .col {
            &:last-child {
                display: flex;
                align-items: center;

                svg {
                    width: 20px;
                    height: 20px;
                }

                button,
                a {
                    &:not(:last-child) {
                        margin-right: 16px;
                    }

                    &:nth-child(1) {
                        svg {
                            fill: var(--blue);
                        }
                    }

                    &:nth-child(2) {
                        svg {
                            stroke: var(--blue);
                            fill: none;
                            stroke-width: 1.5px;
                        }
                    }

                    &:nth-child(3) {
                        svg {
                            fill: var(--red);
                        }
                    }
                }
            }
        }
    }

    .room-body {
        margin-top: 32px;
    }

    &__name {
        display: grid;
        grid-template-columns: calc(85px + 50px) 25% 30% 16.7% 8.55%;
        grid-column-gap: 20px;
        justify-content: start;
        margin: 0 24px 8px;

        >span {
            color: var(--primaryTwo);
            font-size: var(--default-fz);
            line-height: var(--little-small-lh);
            font-weight: 400;
        }
    }
}


.add-apartment {
    &__title {
        span {
            color: var(--primaryTwo);
            font-weight: 500;
            font-size: var(--default-fz);
            line-height: var(--default-lh);
        }
    }
}

.add-complex {
    .tabs-primary__container {
        background-color: transparent;
    }

    .furnishing-sets__tabs {
        height: auto;
    }

    .tabs-primary {
        &__btns {
            justify-content: start;
        }
    }
}

.place-sale-sale {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
    }

    &__cards {
        position: relative;

        .swiper {
            .swiper-wrapper {
                align-items: stretch;
            }

            .swiper-slide {
                height: auto;
            }
        }

        .card-stock-secondary {
            height: 100%;

            @media (min-width:$desktop-min) {
                &:hover {
                    .card-stock-secondary__remove {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            &__times {
                position: absolute;
                top: 16px;
                left: 16px;

                display: flex;
                flex-direction: column;

                >div {
                    color: var(--gray);
                    font-size: var(--small-fz);
                    line-height: var(--small-lh);
                    padding: 4px 8px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    height: 30px;
                    border-radius: 8px;
                    background-color: var(--white);
                    backdrop-filter: blur(2px);

                    span {
                        &:nth-child(2) {
                            margin-left: 6px;
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }
            }
        }

        &._active {
            margin-bottom: 24px;

            .swiper {
                padding: 16px 12px;
                margin: -16px -12px;
            }
        }
    }

    &__navigation {
        top: calc(percent(235, 366)/2);
        transform: translateY(-33%);

        &._hidden {
            display: none;
        }

        &:disabled {
            transform: translateY(-33%) scale(0.75);
        }
    }

    &__save {
        width: 100%;
        margin-top: 24px;
    }
}

.system-setup-action {
    display: flex;
    align-items: center;

    button,
    a {
        &:not(:last-child) {
            margin-right: 16px;
        }

        &:nth-child(1) {
            svg {
                fill: var(--blue);
            }
        }

        &:nth-child(2) {
            svg {
                stroke: var(--blue);
                fill: none;
                stroke-width: 1.5px;
            }
        }

        &:nth-child(3) {
            svg {
                fill: var(--red);
            }
        }
    }

    svg {
        width: 20px;
        height: 20px;
    }
}


.drag-drop {
    &__item {
        cursor: pointer;
    }
}


.create-calc {
    &__mort {
        align-items: start;
        justify-content: start;
        display: flex;
        flex-direction: column;
    }

    .place-sale-options__row--1 {
        grid-template-columns: percent(325, 1132) percent(380, 1132) 1fr;
    }
    .tabs-primary__container {
        background-color: transparent;
    }

    .furnishing-sets__tabs {
        height: auto;
    }

    .tabs-primary {
        &__btns {
            justify-content: start;
        }
    }
}

.create-calc-mort {
    &__create-item{
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        color: var(--blue);
        svg {
            margin-right: 8px;
            fill: var(--blue);
            width: 14px;
            height: 14px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 16px;
        }


    }

    &__checkbox {
        position: relative;

        .checkbox-secondary__text {
            span {
                color: var(--blue);
                margin-left: 8px;
            }

            input {
                border: none;
                width: 18px;
                min-width: 18px;
                color: var(--blue);
                margin-right: 4px;
            }
            >input{
                margin-right: 0;
                min-width: 20px;
                color: var(--gray);
            }
        }



        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__edit {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -30px;

        svg {
            stroke: var(--blue);
            fill: none;
            stroke-width: 1.5px;
            width: 16px;
            height: 16px;

            transition: stroke $transitionSpeed $transitionFunction;
        }

        &._active {
            svg {
                stroke: var(--red);
            }
        }
    }
    &__remove {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -54px;

        svg {
            fill: var(--red);
            stroke-width: 1.5px;
            width: 16px;
            height: 16px;
        }

        &._active {
            svg {
                stroke: var(--red);
            }
        }
    }

    &__checkbox {
        margin-bottom: 0px !important;
    }

    &__info {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__title {
        margin-bottom: 16px;
        width: 100%;
    }

    &__textareas {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;

        .textarea-primary {
            max-width: 366px;
            --height: 175px;
        }
    }

    &__create {
        height: 175px;
        width: 175px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--primary200);
        border-radius: 12px;

        svg {
            width: 35px;
            height: 35px;
            fill: var(--blue);
        }
    }

    &__conditions {
        width: 100%;
    }
}



.create-calc-conditions {

    &__title {
        margin-bottom: 16px;
    }

    &__create {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__create-body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__item {
        display: flex;
        align-items: center;

        .col {
            margin-left: 32px;
            display: flex;
            align-items: center;

            >span {
                margin-right: 24px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px dotted var(--primary200);
        }

        &._edit {
            .create-calc-conditions__item-name {
                color: var(--blue);
            }

            .create-calc-conditions__item-prc {
                color: var(--blue);
            }

            .create-calc-conditions__item-edit {
                svg {
                    stroke: var(--red);
                }
            }
        }
    }

    &__item-name {
        margin-right: 32px;

        border: none;

        font-weight: 500;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        color: var(--dark);
    }

    &__item-prc {
        margin-right: 24px;
        border: none;
    }

    &__item-edit {
        margin-left: 32px;
        width: 20px;
        height: 20px;

        svg {
            stroke: var(--blue);
            fill: none;
            stroke-width: 1.5px;
            width: 20px;
            height: 20px;

            transition: stroke $transitionSpeed $transitionFunction;
        }
    }
    &__item-remove{
        margin-left: 16px;
        width: 20px;
        height: 20px;

        svg {
            fill: var(--red);
            width: 20px;
            height: 20px;
        }
    }
}


.place-sale-сonstruction-progress {
    &__history {
        .spollers {
            &__title {
                width: 100%;
                display: flex;
                align-items: center;

                svg {
                    margin-left: 24px;
                    width: 14px;
                    height: 14px;
                    fill: var(--gray);
                    transition: transform $transitionSpeedFast $transitionFunction;
                }

                &._spoller-active {
                    svg {
                        transform: rotate(-180deg);
                    }
                }
            }

            &__body {
                margin-top: 24px;
            }
        }

        .tabs-primary__container {
            padding: 0;
        }
    }
}


.footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--white);
    box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.1);
    height: 68px;

    transform: translateY(110%);
    transition: transform $transitionSpeedFast $transitionFunction;

    &__container {
        max-width: 1212px;
        width: 100%;
        margin: 0 auto;
        padding: 0 16px;

        display: flex;
        align-items: center;
        height: 100%;
    }

    button {
        height: 44px;
        padding: 0 20px;
    }

    &.active-fixed {
        transform: translateY(0);
    }
}
