// =============== Reset ===============

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: 400;
    font-size: inherit;
}

.page {
    height: 100%;
    font-family: $fontFamily, sans-serif;
    -webkit-text-size-adjust: 100%;

    &.page--scrollY {
        &::-webkit-scrollbar{
            height: 4px;
            width: 4px;
            background: gray;
        }
        
        &::-webkit-scrollbar-track {
          background: #f1f1f1; 
        }
         
        &::-webkit-scrollbar-thumb {
          background: var(--primaryTwo); 
        }
        
        &::-webkit-scrollbar-thumb:vertical{
            background-color: #d1d1d1;
            border-radius: 10px;
        }
    }
}

.page__body {
    margin: 0;
    min-width: $minWidth + px;
    min-height: 100%;
    font-size: $fontSize + px;
    line-height: var(--default-lh);
    background-color: $bodyColor;
    color: $mainColor;

    &::after {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;

        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(7.5px);
        z-index: 98;

        opacity: 0;
        visibility: hidden;
        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;
    }

    &._nav-active-mask {
        &::after {
            opacity: 1;
            visibility: visible;
        }
    }
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}










// =============== Other ===============

.site-container {
    &.site-container--purchase-request {
        @media (max-width:$desktop) {

            .footer__container {
                padding-bottom: calc(60px + 12px); // 60 height + 12 gap
            }
        }
    }

    &.site-container--object {
        @media (max-width:$desktop) {
            .footer__container {
                padding-bottom: calc(60px + 12px); // 60 height + 12 gap
            }
        }
    }

    &.site-container--agent {
        @media (max-width:$desktop) {
            .header {
                display: none;
            }

            .footer__container {
                padding-bottom: calc(60px + 12px); // 60 height + 12 gap
            }
        }
    }

    &.site-container--agent-develop {
        @media (max-width:$desktop) {
            .header {
                display: none;
            }

            .footer__container {
                padding-bottom: calc(60px + 12px); // 60 height + 12 gap
            }
        }
    }

    &.site-container--object-base-inner-2 {
        .header-fixed {
            &__list {
                justify-content: start;
            }

            &__item {
                &:not(:last-child) {
                    margin-right: 32px;
                }
            }
        }
    }

    &.site-container--client {
        @media (max-width:$desktop) {
            .header {
                display: none;
            }

            .footer__container {
                padding-bottom: calc(60px + 12px); // 60 height + 12 gap
            }
        }
    }
    &.site-container--header-filter{
        .header{
            background-color: var(--white);
        }
        .header-top{
            border-bottom: 1px solid var(--primary100);
        }
    }
    &.site-container--shorts{
       width: 100%;
       height: 100%;
       min-height: var(--vh,100vh);
    }
    @media (max-width:$desktop) {
        overflow: hidden;
    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.dis-scroll {
    overflow: hidden;
    height: 100vh;
}

.is-hidden {
    display: none !important; // Hack! needs to be redefined globally
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.page--ios .dis-scroll {
    position: relative;
}

.container {
    margin: 0 auto;
    padding: 0 ($containerOffset + px);
    max-width: $containerWidth + px;
}

.container--no-padding {
    margin: 0 auto;
    max-width: $contentWidth + px;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}
